tags/20100510/src/schema/mod/rdfa-attrib.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:its="http://www.w3.org/2005/11/its"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:z="http://www.daisy.org/ns/z3986/annotations/#">

  <rdf:RDF>
    <rdf:Description>
      <dcterms:title z:short="RDFa">The {RDFa} Attributes Module</dcterms:title>
      <dcterms:description>This module defines the W3C RDFa attribute
        collection.</dcterms:description>
      <z:info>The semantics of the attributes in this module are defined by [[#refRDFa]]. Refer to
        [[http://www.w3.org/TR/xhtml-rdfa-primer/ RDFa Primer]] for further information.</z:info>
      <dcterms:publisher>DAISY Consortium</dcterms:publisher>
      <dcterms:license rdf:resource="{LICENSE_TODO}"/>
      <dcterms:creator>Markus Gylling</dcterms:creator>
      <dcterms:issued>2009-12-21</dcterms:issued>
      <dcterms:isRequiredBy rdf:resource="http://www.daisy.org/z3986/2010/auth/"/>
      <dcterms:requires rdf:resource="z3986-datatypes.rng"/>
    </rdf:Description>
  </rdf:RDF>

  <div>

    <define name="rdfa.about.attrib">
      <attribute name="about">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="about">The RDFa {about} attribute</dcterms:title>
            <dcterms:description>Specifies the subject of a relationship. If not given, then the
              subject is the current document.</dcterms:description>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#URIorSafeCURIE.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.about.attrib.content"/>
        <sch:rule context="*[@about and starts-with(@about,'#')]">
				<!--  <sch:assert
				    test="some $elem in //* satisfies substring(current()/@about,1) eq $elem/@xml:id or substring(current()/@about,1) eq $elem/@id"
					>The fragment URI in the {about} attribute must resolve to an ID in the document.</sch:assert>-->				
          <sch:assert
            test="exists(//*[@xml:id eq substring-after(current()/@about,'#')])"
            >The fragment URI in the {about} attribute must resolve to an ID in the
            document.</sch:assert>
        </sch:rule>    
      </attribute>
    </define>

    <define name="rdfa.about.attrib.content">
      <ref name="URIorSafeCURIE.datatype"/>
    </define>

    <define name="rdfa.content.attrib">
      <attribute name="content">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="content">The RDFa {content} attribute</dcterms:title>
            <dcterms:description>Specifies a string to use as an object for the
              {[[#rdfa.property.attrib]]} attribute.</dcterms:description>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#Characters.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.content.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.content.attrib.content">
      <ref name="Characters.datatype"/>
    </define>

    <define name="rdfa.datatype.attrib">
      <attribute name="datatype">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="datatype">The RDFa {datatype} attribute</dcterms:title>
            <dcterms:description>Specifies a datatype of the object of the
              {[[#rdfa.property.attrib]]} attribute (either in the content attribute, or the content
              of the element that the datattype attribute is on.)</dcterms:description>
            <z:info>By default, data in the content attribute is of type string, and data in the
              content of an element has type {xml:Literal}. If {datatype=""} is used, then for the RDF
              the element content is stripped of markup, and is of type string.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#CURIE.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.datatype.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.datatype.attrib.content">
      <ref name="CURIE.datatype"/>
    </define>

    <define name="rdfa.typeof.attrib">
      <attribute name="typeof">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="typeof">The RDFa {typeof} attribute</dcterms:title>
            <dcterms:description>Creates a blank node, which becomes the subject, and asserts that
              the current element contains relationships that match the given RDF
              type.</dcterms:description>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#CURIEs.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.typeof.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.typeof.attrib.content">
      <ref name="CURIEs.datatype"/>
    </define>

    <define name="rdfa.property.attrib">
      <attribute name="property">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="property">The RDFa {property} attribute</dcterms:title>
            <dcterms:description>Defines a relationship between the subject and either a string (if
              the {[[#rdfa.content.attrib]]} attribute is present), or otherwise the content of the
              element that the {property} attribute is on.</dcterms:description>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#CURIEs.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.property.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.property.attrib.content">
      <ref name="CURIEs.datatype"/>
    </define>

    <define name="rdfa.rel.attrib">
      <attribute name="rel">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="rel">The RDFa {rel} attribute</dcterms:title>
            <dcterms:description>Defines a relation between the subject and a URL given by
              {[[#rdfa.resource.attrib]]}.</dcterms:description>
            <z:info>The {[[#rdfa.rev.attrib]]} attribute expresses the inverse relation.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#CURIEs.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.rel.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.rel.attrib.content">
      <ref name="CURIEs.datatype"/>
    </define>

    <define name="rdfa.resource.attrib">
      <attribute name="resource">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="resource">The RDFa {resource} attribute</dcterms:title>
            <dcterms:description>Specifies an object URI for the {[[#rdfa.rev.attrib]]} and
              {[[#rdfa.rel.attrib]]} attributes, if the attribute {href} is not
              present.</dcterms:description>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#URIorSafeCURIE.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.resource.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.resource.attrib.content">
      <ref name="URIorSafeCURIE.datatype"/>
    </define>

    <define name="rdfa.rev.attrib">
      <attribute name="rev">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="rev">The RDFa {rev} attribute</dcterms:title>
            <dcterms:description>Defines a relation between a URL given by
              {[[#rdfa.resource.attrib]]} and the subject.</dcterms:description>
            <z:info>The {[[#rdfa.rel.attrib]]} attribute expresses the inverse relation.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>All [[#z3986.global-classes.module global attribute classes]]</z:context>
            <z:content>[[#CURIEs.datatype]]</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="rdfa.rev.attrib.content"/>
      </attribute>
    </define>

    <define name="rdfa.rev.attrib.content">
      <ref name="CURIEs.datatype"/>
    </define>

    <define name="Rdfa.attrib" combine="interleave">
      <rdf:RDF>
        <rdf:Description>
          <dcterms:title z:short="Rdfa.attrib">The RDFa attributes collection</dcterms:title>
          <dcterms:description>Defines the RDFa attribute collection; all attributes with optional occurence.</dcterms:description>
          <dcterms:isRequiredBy rdf:resource="."/>
          <z:context>Global.</z:context>
          <z:content>{[[#rdfa.about.attrib]]?, [[#rdfa.content.attrib]]?, [[#rdfa.datatype.attrib]]?, [[#rdfa.typeof.attrib]]?, [[#rdfa.property.attrib]]?, [[#rdfa.rel.attrib]]?, [[#rdfa.resource.attrib]]?, [[#rdfa.rev.attrib]]?}</z:content>
        </rdf:Description>
      </rdf:RDF>
      <optional>
        <ref name="rdfa.about.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.content.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.datatype.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.typeof.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.property.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.rel.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.resource.attrib"/>
      </optional>
      <optional>
        <ref name="rdfa.rev.attrib"/>
      </optional>
    </define>

  </div>

</grammar>
