tags/20100510/src/schema/mod/z3986-byline.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.daisy.org/ns/z3986/authoring/"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:z="http://www.daisy.org/ns/z3986/annotations/#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <rdf:RDF>
    <rdf:Description>
      <dcterms:title z:short="byline">The byline module</dcterms:title>
      <dcterms:description>This module defines the [[#z3986.byline]] element for crediting the authorship of articles.</dcterms:description>
      <dcterms:publisher>DAISY Consortium</dcterms:publisher>
      <dcterms:license rdf:resource="{LICENSE_TODO}" />
      <dcterms:creator>Markus Gylling</dcterms:creator>      
      <dcterms:issued>2009-12-21</dcterms:issued>
      <dcterms:requires rdf:resource="z3986-global-classes.rng"/>
    </rdf:Description>
  </rdf:RDF>
    
  <div>
             
    <define name="z3986.byline">
      <element name="byline">  
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="byline">The {byline} element</dcterms:title>
            <dcterms:description>The {byline} element represents the byline used to establish the author(s) of a news or journal article, 
            an entry in an encyclopaedic reference, or similar.</dcterms:description>
            <z:info>Bylines typically occur on a separate line immediately after the headline in print articles.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>                     
            <z:context>{[[#z3986.Block.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</z:content>          
            <z:attlist>{[[#z3986.Block.attrib]]}</z:attlist>      
          </rdf:Description>
        </rdf:RDF>
        <ref name="z3986.byline.attlist"/>
        <ref name="z3986.byline.content"/>
        <sch:rule context="default:byline">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {byline} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>

    <define name="z3986.byline.attlist">
      <ref name="z3986.Block.attrib"/>
    </define>
    
    <define name="z3986.byline.content">
      <ref name="z3986.Phrase.Text.mix.model"/>
    </define>  
    
  </div>  
  
</grammar>