tags/20090303/src/schema/z3986a-advancedbook.rng

<grammar ns="http://www.w3.org/2002/06/xhtml2/"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">
    
  <x:h1>RELAX NG schema for Z39.86-2010 Part A Advanced Book Profile, building on XHTML 2.0</x:h1>
  <x:p>This is a driver, modified by DAISY, originating from the XHTML2 default driver.</x:p>

  <!-- for now include genericdocument as below, to avoid duplication 
  		of work when fixing general XHTML2 stuff -->
  		
  <include href="z3986a-genericdocument.rng">
      	
      	<!-- replace x:body with d:book -->      	
      	<define name="body">
      		<ref name="z3986.book" />
    	</define>
    	  	
    	<!-- remove x:head/x:title -->    	
    	<define name="head.content">      		
      		<zeroOrMore>
        		<choice>
          			<ref name="head.misc"/>
        		</choice>
      		</zeroOrMore>
    	</define>    	
    	
    	<!-- add an optional leading pagebreak to the default
    	strict section model -->    	
    	<define name="section.strict.prehead.slot" combine="interleave">
    		<optional>
    			<ref name="z3986.pagebreak"/>
    		</optional>	
    	</define>
    			    	
    	<!-- remove nl entirely -->
	   <define name="List.class">
	     <choice>
	       <ref name="dl"/>		      
	       <ref name="ol"/>
	       <ref name="ul"/>
	     </choice>
	   </define> 
		   
		<!-- allow pagebreak as a sibling to tr -->
		<define name="tr">
		  <optional>
		  	<ref name="z3986.pagebreak"/>
		  </optional>
	      <element name="tr">
	        <ref name="tr.attlist"/>
	        <oneOrMore>
	          <choice>
	            <ref name="th"/>
	            <ref name="td"/>
	          </choice>
	        </oneOrMore>
	      </element>
    	</define>   
    	
    	<define name="lists.extra" combine="interleave">
    		<optional>
    			<ref name="z3986.pagebreak"/>
    		</optional>	
    	</define>
    	
    	<!-- allow section TOCs -->
    	<define name="section.strict.model">  		
		  <ref name="section.strict.prehead.slot"/>
		  <ref name="Heading.class" />
		  <optional>
		    <ref name="z3986.toc" /> 
		  </optional>
		  <zeroOrMore>
			<choice>
    			<ref name="Structural.class"/>    			
            	<ref name="List.class"/>
            	<ref name="section.strict.body.slot"/>
            </choice>	
          </zeroOrMore>
	    </define>
    	
  </include>
  
  <define name="l.class" combine="choice">
  		<ref name="z3986.noteref"/>  
		<ref name="z3986.word"/>  
		<ref name="z3986.pagebreak"/>
  </define>

  <define name="quote.class" combine="choice">
	<ref name="z3986.noteref"/>  
	<ref name="z3986.word"/>  
	<ref name="z3986.pagebreak"/>
  </define>
    
  <x:h2>The Book module</x:h2>
  <include href="mod/z3986-book.rng" />
    
  <x:h2>The Pagebreak module</x:h2>
  <include href="mod/z3986-pagebreak.rng" />
    
  <x:h2>The TOC module</x:h2>
  <include href="mod/z3986-toc.rng" >
  	<!-- redefine toc to allow parts -->
    <define name="z3986.toc.content">
	  <choice>
        <ref name="z3986.toc.section" />
        <ref name="z3986.tocpart.model" />
      </choice>
     </define>
  
  </include>
  
  <x:h2>The Cover module</x:h2>
  <include href="mod/z3986-cover.rng" />  

  <x:h2>The Attribution module</x:h2>
  <include href="mod/z3986-attribution.rng" />  
  
  <x:h2>The Box module</x:h2>
  <include href="mod/z3986-box.rng" />

  <x:h2>The Annotation module</x:h2>
  <include href="mod/z3986-annotation.rng" />
         
</grammar>