tags/20090814/src/schema/mod/z3986-cite.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>Z39.86 cite element module</x:h1>
    
  <div>
    <x:h2>The cite element</x:h2>
    <x:div id="z3986.cite">
      <x:p class="description">
        The <x:code>cite</x:code> element represents a a reference to a published or unpublished source.
      </x:p>
    </x:div>
    <!-- TODO define a way to link from cites to sources -->
         
    <define name="z3986.cite">
      <element name="cite">        
        <ref name="z3986.cite.attlist"/>
        <ref name="z3986.cite.content"/>  
      </element>    
    </define>

    <define name="z3986.cite.attlist">
      <ref name="z3986.Text.attrib"/>
    </define>
    
    <define name="z3986.cite.content">
      <ref name="z3986.Text.model"/>    
    </define>  
    
  </div>  
  
  <div>
    <x:h2>The cite element - default content model contribution</x:h2>
    
    <define name="z3986.quote.text.content" combine="interleave">
      <optional>
        <ref name="z3986.cite"/>
      </optional>  
    </define>

    <define name="z3986.quote.structural.content" combine="interleave">
      <optional>
        <ref name="z3986.cite"/>
      </optional>
    </define>
    
    
  </div>

</grammar>