src/src/schema/mod/z3998-feature-description.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    ns="http://www.daisy.org/ns/z3998/authoring/features/description/"
    xmlns:d="http://www.daisy.org/ns/z3998/authoring/features/description/"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:x="http://www.w3.org/1999/xhtml">
    <info xmlns="http://docbook.org/ns/docbook">
        <title xreflabel="select">The DIAGRAM Description Feature</title>
        <annotation annotates="/">
            <para role="desc-main">The DIAGRAM <code>Description</code> feature supports traditional long descriptions and also 
                includes markup for including summaries and simplified language descriptions. It also allows the embedding of 
                simplified image versions of the source and also tactile printing-ready equivalents.</para>
            <para role="desc-sub">The age and/or education level of the intended audience can be set in the description metadata.</para>
            <para role="desc-sub">This feature makes available a single public element: the {[[#z3998.feature.description description]]} element. 
                Other components defined in this feature are intended for use augmenting this element.</para>
            <para role="desc-sub">This feature inherits elements, attributes and additional features from the 
                [[http://www.daisy.org/z3998/2012/auth/cm/ Z39.98-2012 Core Modules]].</para>
            <simplelist role="def-dependencies">
                <member xlink:href="z3998-global-classes.rng"/>
                <member xlink:href="z3998-core-attrib.rng"/>
            </simplelist>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2011</year>
            <year>2012</year>
            <year>2013</year>
            <year>2014</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link></para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at <link xlink:href="http://www.daisy.org">www.daisy.org</link></para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-10-06</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>1.1</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.feature.description" xml:id="z3998.feature.description">
            <element name="description">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:description">The description element</title>
                    <para role="desc-main">The {description} element is the root container element for a description. It consists
                        of an optional container element for metadata information (the {[[#z3998.feature.description.head head]]}) and a 
                        required container for the different description types and alternate image renditions (the {[[#z3998.feature.description.body body]]}).</para>
                    <para role="desc-sub">The language of the description can be specified by attaching an {[[#xml.lang.attrib]]}
                        attribute to the {description} element. If the description will be made available in a standalone context (i.e., in which 
                        its language cannot be inherited from a host content document), the language should always be specified.</para>
                    <para role="desc-sub">The [[http://www.daisy.org/z3998/2012/auth/profiles/descriptions/current/z3998-descriptions.html DIAGRAM Description profile]]
                        provides the ability to compile one or more {description} elements into a single document for distribution 
                        (e.g., to accompany an EPUB).</para>
                    <para role="desc-sub">When storing a description in a standalone context, the Description feature namespace 
                        {http://www.daisy.org/ns/z3998/authoring/features/description/} should be declared on the {description} element
                        using the xmlns namespace association mechanism defined in {[[#refXMLNamespaces]]}. 
                        Although not required, the prefix {d} is recommended.</para>
                    <synopsis role="def-context">{[[#z3998.Block.class]]}</synopsis>
                    <synopsis role="def-content" condition="fixed">{[[#z3998.feature.description.head]]?, [[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-attlist">{[[#xml.id.attrib]]?,[[#xml.base.attrib]]?}</synopsis>
                </annotation>
                <ref name="z3998.feature.description.attlist"/>
                <ref name="z3998.feature.description.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.attlist" xml:id="z3998.feature.description.attlist">
            <optional>
                <ref name="xml.id.attrib"/>
            </optional>
            <optional>
                <ref name="xml.lang.attrib"/>
            </optional>
            <optional>
                <ref name="xml.base.attrib"/>
            </optional>
        </define>
        <define name="z3998.feature.description.content" xml:id="z3998.feature.description.content">
            <ref name="z3998.feature.description.document.model"/>
        </define>
        <define name="z3998.feature.description.document.model" xml:id="z3998.feature.description.document.model">
            <a:documentation>The document-like model choice for description</a:documentation>
            <optional>
                <ref name="z3998.feature.description.head"/>
            </optional>
            <ref name="z3998.feature.description.body"/>
        </define>
    </div>
    <div>
        <define name="z3998.feature.description.head" xml:id="z3998.feature.description.head">
            <element name="head">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:head">The description {head} element</title>
                    <para role="desc-main">The description {head} element contains meta information about the 
                        enclosing {[[#z3998.feature.description description]]} element.</para>
                    <para role="desc-sub">The meta information in the description {head} element should not be
                        treated as document content, but may be used for display and other purposes when 
                        rendering descriptions.</para>
                    <para role="desc-sub">Although all metadata is optional, descriptions should, at a minimum, include
                        an identifier, the intended reader age and/or school grade level. See the 
                        [[http://www.daisy.org/z3998/2012/vocab/descriptions/ DIAGRAM Descriptions Vocabulary]]
                        for a set of predefined RDF properties. Properties from other RDF vocabularies can
                        also be included, provided their prefix is declared.</para>
                    <para role="desc-sub">If age and grade-level metadata is omitted, the containing {description}
                        should be assumed to be applicable to all readers.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description]]}</synopsis>
                    <synopsis role="def-content">{[[#z3998.meta]]+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Document.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.feature.description.head.attlist"/>
                <ref name="z3998.feature.description.head.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.head.attlist" xml:id="z3998.feature.description.head.attlist">
            <ref name="z3998.Document.attrib"/>
        </define>
        <define name="z3998.feature.description.head.content" xml:id="z3998.feature.description.head.content">
            <oneOrMore>
                <choice>
                    <ref name="z3998.feature.description.head.class"/>
                </choice>
            </oneOrMore>
        </define>
        <define name="z3998.feature.description.head.class" combine="choice">
            <choice>
                <ref name="z3998.meta"/>
            </choice>
        </define>
    </div>
    <div>
        <define name="z3998.feature.description.body" xml:id="z3998.feature.description.body">
            <element name="body">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:body">The description {body} element</title>
                    <para role="desc-main">The description {body} element contains the accessible 
                        description forms that readers can select from depending on their needs.</para>
                    <para role="desc-sub">The description {body} must minimally contain the primary description of the associated
                        content in a child {[[#z3998.feature.description.body.longdesc longdesc]]} element.</para>
                    <para role="desc-sub">The description body may also optionally compliment the primary description with 
                        a briefer [[#z3998.feature.description.body.summary summary]] and a 
                        [[#z3998.feature.description.body.simplifiedLanguageDescription simplified language 
                        representation]].</para>
                    <para role="desc-sub">The {body} of the description can also be used to carry alternative images
                        for readers unable to adequately interact with the source image. The
                        {[[#z3998.feature.description.body.tactile tactile]]} element can be used to include
                        a tactile image and accompanying [[#z3998.feature.description.tour tour]], and the 
                        {[[#z3998.feature.description.body.simplifiedImage simplifiedImage]]} element can be used to include
                        images more accessible to various reader needs.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description]]}</synopsis>
                    <synopsis role="def-content">{([[#z3998.feature.description.body.summary]]? &amp;amp; [[#z3998.feature.description.body.longdesc]] &amp;amp; [[#z3998.feature.description.body.simplifiedLanguageDescription]]* &amp;amp; [[#z3998.feature.description.body.tactile]]* &amp;amp; [[#z3998.feature.description.body.simplifiedImage]]* &amp;amp; [[#z3998.annotation]]*) }</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Document.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.feature.description.body.attlist"/>
                <ref name="z3998.feature.description.body.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.body.attlist" xml:id="z3998.feature.description.body.attlist">
            <ref name="z3998.Document.attrib"/>
        </define>
        <define name="z3998.feature.description.body.content" xml:id="z3998.feature.description.body.content">
            <optional>
                <ref name="z3998.feature.description.body.summary"/>
            </optional>
            <ref name="z3998.feature.description.body.longdesc"/>
            <zeroOrMore>
                <ref name="z3998.feature.description.body.simplifiedLanguageDescription"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="z3998.feature.description.body.tactile"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="z3998.feature.description.body.simplifiedImage"/>
            </zeroOrMore>
        </define>
        <define name="z3998.feature.description.body.content" combine="interleave">
            <!-- allow annoatations anywhere in the body of a description -->
            <zeroOrMore>
                <ref name="z3998.annotation"/>
            </zeroOrMore>
        </define>
    </div>
    <div>
        <!-- define all root block elements -->
        <define name="z3998.feature.description.body.summary">
            <element name="summary">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:summary">The {summary} element</title>
                    <para role="desc-main">The {summary} element contains a shorter, more succinct version of
                        the primary description in the {[[#z3998.feature.description.body.longdesc longdesc]]} element.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-content">{(text | z3998.Text.class | z3998.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.feature.description.body.summary.content"/>
                <sch:rule context="d:summary">
                    <sch:assert test="normalize-space(.) or *">The {summary} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.feature.description.body.summary.content" xml:id="z3998.feature.description.body.summary.content">
            <choice>
                <ref name="z3998.Phrase.Text.mix.model"/>
                <ref name="z3998.Block.core.class"/>
            </choice>
        </define>
        <define name="z3998.feature.description.body.longdesc">
            <element name="longdesc">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:longdesc">The {longdesc} element</title>
                    <para role="desc-main">The {longdesc} element contains the primary description
                        of the associated image, graphic or visually-oriented structure.</para>
                    <para role="desc-sub">The {longdesc} should contain a comprehensive explanation
                        of the referenced item. See the {[[#z3998.feature.description.body.summary summary]]}
                        element for information on how to include a compact description.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-content">{(z3998.Block.class)+ | (text | z3998.Text.class | z3998.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.Flow.choice.model"/>
                <sch:rule context="d:longdesc">
                    <sch:assert test="normalize-space(.) or *">The {longdesc} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.feature.description.body.simplifiedLanguageDescription">
            <element name="simplifiedLanguageDescription">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:simplifiedLanguageDescription">The {simplifiedLanguageDescription} element</title>
                    <para role="desc-main">The {simplifiedLanguageDescription} element contains a simplified 
                        language version of the primary description in the {[[#z3998.feature.description.body.longdesc longdesc]]} element.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-content">{(z3998.Block.class)+ | (text | z3998.Text.class | z3998.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.feature.description.body.simplifiedLanguageDescription.content"/>
                <sch:rule context="d:simplifiedLanguageDescription">
                    <sch:assert test="normalize-space(.) or *">The {simplifiedLanguageDescription} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.feature.description.body.simplifiedLanguageDescription.content">
            <group>
                <optional>
                    <ref name="z3998.feature.description.body.about"/>
                </optional>
                <ref name="z3998.Flow.choice.model"/>
            </group>
        </define>
        <define name="z3998.feature.description.body.about">
            <element name="about">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:about">The {about} element</title>
                    <para role="desc-main">The {about} element provides a brief, human-readable explanation of the nature of its parent
                        (e.g., the file format, resolution, audience, etc.).</para>
                    <para role="desc-sub">The element is intended to provide a label for end users of the content -- for example,
                        to explain the format of the content to facilitate content selection.</para>
                    <para>To describe the parent content, see the [[#z3998.feature.description.tour]] element.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body.simplifiedLanguageDescription]], [[#z3998.feature.description.body.tactile]], [[#z3998.feature.description.body.simplifiedImage]]}</synopsis>
                    <synopsis role="def-content">{(text | z3998.Text.class | z3998.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.Text.model"/>
                <sch:rule context="d:about">
                    <sch:assert test="normalize-space(.) or *">The {about} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.feature.description.body.tactile">
            <element name="tactile">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:tactile">The {tactile} element</title>
                    <para role="desc-main">The {tactile} element contains an alternative tactile image. The element 
                        may contain one or more identical images for different production methods (e.g., one for swell paper
                        production and another for stereolithograph printing).</para>
                    <para role="desc-sub">The tactile image may also include an explanatory {[[#z3998.feature.description.tour tour]]}.</para>
                    <para role="desc-sub">This specification does not place any restrictions on the format used to
                        represent the tactile image, but images should be final-form representations for output rendering
                        by end users. The {[[#z3998.role.attrib]]} attribute should be used to differentiate the production use for
                        each image.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-content">{(z3998.object.block+, z3998.feature.description.tour?)}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.feature.description.body.tactile.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.body.tactile.content" xml:id="z3998.feature.description.body.tactile.content">
            <ref name="z3998.feature.description.tactile.model"/>
        </define>
        <define name="z3998.feature.description.tactile.model" xml:id="z3998.feature.description.tour.model">
            <group>
                <optional>
                    <ref name="z3998.feature.description.body.about"/>
                </optional>
                <oneOrMore>
                    <choice>
                        <ref name="z3998.object.block"/>
                        <ref name="z3998.feature.description.braille"/>
                    </choice>
                </oneOrMore>
                <optional>
                    <ref name="z3998.feature.description.tour"/>
                </optional>
            </group>
        </define>
        <define name="z3998.feature.description.braille">
            <element name="braille">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:braille">The {braille} element</title>
                    <para role="desc-main">The {braille} element contains an alternative braille representation. It may contain
                        preformatted braille text, or embed a format such as PEF.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body.tactile]]}</synopsis>
                    <synopsis role="def-content">{(text | *)}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <optional>
                    <ref name="z3998.feature.description.brlFormat.attrib"/>
                </optional>
                <ref name="z3998.feature.description.braille.content"/>
                <sch:rule context="d:braille">
                    <sch:assert test="normalize-space(.) or *">The {braille} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.feature.description.braille.content" xml:id="z3998.feature.description.braille.content">
            <ref name="anyContent"/>
        </define>
        <define name="anyContent">
            <zeroOrMore>
                <choice>
                    <element>
                        <anyName/>
                        <zeroOrMore>
                            <attribute>
                                <anyName/>
                            </attribute>
                        </zeroOrMore>
                        <ref name="anyContent"/>
                    </element>
                    <text/>
                </choice>
            </zeroOrMore>
        </define>
        <define name="z3998.feature.description.brlFormat.attrib">
            <attribute name="brlFormat">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="role">The {brlFormat} attribute</title>
                    <para role="desc-main">The {brlFormat} attribute expresses processing information for a {[[#z3998.feature.description.braille]]} element.</para>
                    <para role="desc-sub">The attribute takes as its value one or more tokens.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.braille]]}</synopsis>
                    <synopsis role="def-content">{[[#NMTOKENS.datatype]]}</synopsis>
                </annotation>
                <ref name="z3998.feature.description.brlFormat.attrib.content"/>
            </attribute>
        </define>
        <define name="z3998.feature.description.brlFormat.attrib.content" combine="choice">
            <ref name="NMTOKENS.datatype"/>
        </define>
        <define name="z3998.feature.description.tour">
            <element name="tour">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:tour">The {tour} element</title>
                    <para role="desc-main">The {tour} element is associated with a tactile graphic or a simplified alternative image, 
                        and provides orientation. In addition, the tour can explain how to explore the tactile or simplified image.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body.tactile]]}, {[[#z3998.feature.description.body.simplifiedImage]]}</synopsis>
                    <synopsis role="def-content">{(z3998.Block.class)+ | (text | z3998.Text.class | z3998.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.block.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.body.simplifiedImage">
            <element name="simplifiedImage">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="d:simplifiedImage">The {simplifiedImage} element</title>
                    <para role="desc-main">The {simplifiedImage} element contains a simplified version of the source
                        image. The element may contain one or more identical images in different formats.</para>
                    <para role="desc-sub">The simplified image may also include an explanatory {[[#z3998.feature.description.tour tour]]}.</para>
                    <synopsis role="def-context">{[[#z3998.feature.description.body]]}</synopsis>
                    <synopsis role="def-content">{(z3998.object.block+, z3998.feature.description.tour?)}</synopsis>
                    <synopsis role="def-attlist">{[[#z3998.Block.attrib]]}</synopsis>
                </annotation>
                <ref name="z3998.Block.attrib"/>
                <ref name="z3998.feature.description.body.simplifiedImage.content"/>
            </element>
        </define>
        <define name="z3998.feature.description.body.simplifiedImage.content" xml:id="z3998.feature.description.body.simplifiedImage.content">
            <ref name="z3998.feature.description.simplifiedImage.model"/>
        </define>
        <define name="z3998.feature.description.simplifiedImage.model" xml:id="z3998.feature.description.tour.model">
            <group>
                <optional>
                    <ref name="z3998.feature.description.body.about"/>
                </optional>
                <oneOrMore>
                    <ref name="z3998.object.block"/>
                </oneOrMore>
                <optional>
                    <ref name="z3998.feature.description.tour"/>
                </optional>
            </group>
        </define>
    </div>
    <div>
        <a:documentation>Z39.98 Content Selection feature - content model contribution</a:documentation>
        <define name="z3998.Block.extern.class" combine="choice">
            <ref name="z3998.feature.description"/>
        </define>
    </div>
</grammar>
