tags/20120806/src/schema/z3998-newsfeeds.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.daisy.org/ns/z3998/authoring/"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:x="http://www.w3.org/1999/xhtml">
  
  <info xmlns="http://docbook.org/ns/docbook">
    <title xreflabel="toc">The newsfeed aggregator schema</title>
    <annotation annotates="/">
      <para role="desc-main">
        This driver file represents the RelaxNG implementation of the 
        Z39.98-2012 Newsfeed Aggregator Profile, and provides the schematic means
        of validating conformant documents.
      </para>
    </annotation>
    <author>
      <personname>Markus Gylling</personname>
      <email>mgylling@daisy.org</email>
    </author>
    <legalnotice>
      <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link></para>
      <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at <link xlink:href="http://www.daisy.org">www.daisy.org</link></para>
    </legalnotice>
    <copyright>
      <year>2009</year>
      <year>2010</year>
      <year>2011</year>
      <year>2012</year>
      <holder>DAISY Consortium</holder>
    </copyright>
    <revhistory>
      <revision>
        <date>2012-12-19</date>
        <authorinitials>MGy</authorinitials>
        <revdescription>
          <para>
            Initial version.
          </para>
          <para>
            This revision history only reflects changes to the driver file, not to any of the
            modules included in it.
          </para>
        </revdescription>
      </revision>
    </revhistory>
  </info>
  
  <x:h1>RELAX NG driver for Z39.98-2012 Newsfeed Aggregator Profile</x:h1>
  
  <x:h2>Common Document Model Modules</x:h2>

  <x:h3>Content Model Definitions</x:h3>
  <include href="./mod/z3998-global-classes.rng" />    
  
  <x:h3>Common Elements</x:h3>    
  <include href="./mod/z3998-document.rng">
    <!-- redefine body content to be either sections or articles -->
    <define name="z3998.body.content">
      <ref name="z3998.newsfeeds.body.content"/>
    </define>
    <sch:rule context="default:head[parent::default:document]">
      <sch:assert test="descendant::default:meta[@rel='z3998:rdfa-context' and @resource='http://www.daisy.org/z3998/2012/vocab/context/periodicals/']">The default RDFa context document URI {http://www.daisy.org/z3998/2012/vocab/context/default/} must be defined in the {resource} attribute of a {meta} element with the {rel} value {z3998:rdfa-context}.</sch:assert>
    </sch:rule>
  </include>  
  <div>
    <include href="./mod/z3998-meta.rng"/>
    <!-- validate metadata -->
    <sch:rule context="default:meta[@property='revision']">
      <sch:assert test="matches(@content, '^\d+(\.\d+)*$')">The {revision} property value must be a decimal-delimited series of integers when specified.</sch:assert>
    </sch:rule>
    <sch:rule context="default:meta[@property='positionSequence']">
      <sch:assert test="matches(@content, '^\d+(\.\d+)*$')">The {positionSequence} property value must be a decimal-delimited series of integers when specified.</sch:assert>
    </sch:rule>
  </div>
  <include href="./mod/z3998-linking.rng"/>   
      
  <include href="./mod/z3998-section.rng">
    <!-- redefine section to only allow sections or articles -->
    <define name="z3998.section.content">
      <ref name="z3998.newsfeeds.section.strict.content"/>
    </define>  
  </include>
  <include href="./mod/z3998-headings.rng">
      <!--  remove hpart -->
      <define name="z3998.hpart">
      	<notAllowed/>     
    </define>
  </include>
  <include href="./mod/z3998-block.rng"/>
  <include href="./mod/z3998-p.rng"/>        
  <include href="./mod/z3998-list.rng"/>          
  <include href="./mod/z3998-table.rng">
    <!-- redefine table to the simplest model -->
    <define name="z3998.table.content">
      <ref name="z3998.table.simple.content"/>
    </define>
  </include>            
  <include href="./mod/z3998-quote.rng"/>
  <include href="./mod/z3998-citation.rng"/>  
  <include href="./mod/z3998-object.rng"/>
  <include href="./mod/z3998-address.rng"/>
  <include href="./mod/z3998-annotation.rng"/>     
  <include href="./mod/z3998-caption.rng"/>    
  <include href="./mod/z3998-description.rng"/>
  <include href="./mod/z3998-span.rng"/>
  <include href="./mod/z3998-line.rng"/>    
  <include href="./mod/z3998-s.rng"/>
  <include href="./mod/z3998-w.rng"/>  
  <include href="./mod/z3998-abbr.rng"/>  
  <include href="./mod/z3998-code.rng"/>
  <include href="./mod/z3998-emph.rng" />  
  <include href="./mod/z3998-time.rng"/>
  <include href="./mod/z3998-name.rng"/>  
  <include href="./mod/z3998-term.rng"/>
  <include href="./mod/z3998-definition.rng"/>
  <include href="./mod/z3998-sub-sup.rng"/>
  <include href="./mod/z3998-num.rng" />
            
  <x:h3>Common Attributes</x:h3>  
  <include href="./mod/z3998-core-attrib.rng"/>
  <include href="./mod/z3998-i18n-attrib.rng"/>
  <include href="./mod/xlink.rng"/>
  <include href="./mod/z3998-depth-attrib.rng"/>

	<include href="./mod/rdfa-attrib.rng"/>
  <include href="./mod/z3998-role-attrib.rng"/>
  <include href="./mod/z3998-by-attrib.rng"/>
  
  <x:h2>Profile Specific Modules</x:h2>
  <include href="./mod/z3998-article.rng"/>
  <include href="./mod/z3998-byline.rng"/>
  <include href="./mod/z3998-dateline.rng"/>
    
  <x:h2>Optional Feature Modules</x:h2>
  
  <div x:id="description" x:class="feature">
    <x:h2>DIAGRAM Description Feature</x:h2>
    <include href="./mod/z3998-feature-description.rng"/>
  </div>
  
  <div x:id="its-ruby" x:class="feature">
    <x:h2>ITS Ruby Feature</x:h2>
    <include href="./mod/z3998-feature-its-ruby.rng"/>
  </div>
  
  <x:h2>RDF Property Enumeration Modules</x:h2>
  <include href="./mod/z3998-vocab-contrib-periodicals.rng"/>
            
  <x:h2>Support Modules</x:h2>
  <include href="./mod/z3998-datatypes.rng" />
  <!-- <include href="./mod/iana-lang-enum.rng" /> -->
  
  <x:h2>Profile specific models</x:h2>

  <define name="z3998.newsfeeds.body.content">
    <optional>
      <ref name="z3998.h"/>
    </optional>
    <choice>
      <oneOrMore>
        <ref name="z3998.section"/>
      </oneOrMore> 
      <oneOrMore>
        <ref name="z3998.article"/>
      </oneOrMore>     
    </choice>
  </define>  
  
  <define name="z3998.newsfeeds.section.strict.content">
    <ref name="z3998.newsfeeds.body.content"/>
  </define>

  <!-- define as placeholders internal classes that arent used in this schema -->
  <define name="z3998.Global.extra.class">
    <notAllowed/>
  </define>
  <define name="z3998.Section.extern.class">
    <notAllowed/>
  </define>
  <define name="z3998.Block.extern.class">
    <notAllowed/>
  </define>
  <define name="z3998.Phrase.extern.class">
    <notAllowed/>
  </define>
  <define name="z3998.Text.core.class.xsd">
    <notAllowed/>
  </define>
  <define name="z3998.Phrase.extern.class.xsd">
    <notAllowed/>
  </define>
</grammar>