sandbox/ZedAi/periodicals/samples/xhtml2-newsml.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="root">

  <mode name="root">
    <namespace ns="http://www.w3.org/2002/06/xhtml2/">
      <validate schema="../../w3c/rng/xhtml2.rng">
		<context path="section" useMode="section" />
      </validate>       
    </namespace>
  </mode>

  <mode name="section">		   
    <namespace ns="http://iptc.org/std/nar/2006-10-01/">
      <validate schema="../schemas/NAR_1.3-spec-Framework-Power.xsd" /> 
    </namespace>
  </mode>

</rules>
