tags/20090423/src/schema/mod/xhtml-events-2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:ev="http://www.w3.org/2001/xml-events"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>Events Attribute Collection Module</x:h1>
  
  <x:p>This module imports the XMLEvents 2 modules, and
  contextualizes them for the XHTML2 document type.</x:p>
  
    <x:h2>XHTML Events</x:h2>
    <div>
      <include href="xml-events-2.rng" />
    
      <define name="xmlEvents.Common.attrib" combine="interleave">
        <ref name="CommonNoEvents.attrib"/>
      </define>
              
      <define name="xhtml.head.misc" combine="choice">
      	<ref name="xmlEvents.listener"/>
      </define>
    
      <define name="xhtml.Structural.class" combine="choice">
        <ref name="xmlEvents.listener"/>
      </define>
    </div>
    
    <x:h2>XML Handlers</x:h2>
    <div>
      <include href="xml-handlers-2.rng" />
    
      <define name="xmlHandlers.Common.attrib" combine="interleave"> 
        <ref name="CommonNoEvents.attrib"/> 
      </define>                
    
      <define name="xhtml.head.misc" combine="choice">
        <ref name="xmlHandlers.action"/>
      </define>
    
      <define name="xhtml.Structural.class" combine="choice">
        <ref name="xmlHandlers.action"/>
      </define>
    </div>
    
    <x:h2>XML Scripting</x:h2>
    <div>
      <include href="xml-script-2.rng">
        <define name="xmlScripting.script.attlist">    
          <ref name="xmlScripting.implements.attrib"/>
          <ref name="xmlScripting.charset.attrib"/>
          <ref name="xhtml.Common.attrib"/>
        </define> 
      </include>
    
      <define name="xmlHandlers.action.content" combine="choice">
        <ref name="xmlScripting.script"/>
      </define>
    
      <define name="xhtml.head.misc" combine="choice">
        <ref name="xmlScripting.script"/>
      </define>
    
      <define name="xhtml.Structural.class" combine="choice">
        <ref name="xmlScripting.script"/>
      </define>
    
      <define name="xhtml.Text.class" combine="choice">
        <ref name="xmlScripting.script"/>
      </define>
    </div>

  <x:h2>Events Global Attributes Collection</x:h2>
  <div>
    <define name="Events.attrib">
      <optional>
        <ref name="xmlEvents.event.attrib"/>
      </optional>
      <optional>
        <ref name="xmlEvents.observer.attrib"/>
      </optional>    
      <optional>
        <ref name="xmlEvents.eventTarget.attrib"/>
      </optional>
      <optional>
        <ref name="xmlEvents.function.attrib"/>
      </optional>
      <optional>
        <ref name="xmlEvents.handler.attrib"/>
      </optional>    
      <optional>
        <ref name="xmlEvents.phase.attrib"/>
      </optional>    
      <optional>
        <ref name="xmlEvents.propagate.attrib"/>
      </optional>
      <optional>
        <ref name="xmlEvents.defaultAction.attrib"/>
      </optional>
    </define>
  </div>
  
  <define name="xhtml.Common.attrib" combine="interleave">
    <ref name="Events.attrib"/>
  </define>
  
  <!-- A specialized class to avoid duplicate includes of events attributes.
  This class should be an echo of Common.attrib, minus Events.attrib 
  We break the pattern of modules contributing themselves to global
  classes, since this is a local concern.
   -->
  <define name="CommonNoEvents.attrib">
    <ref name="xhtml.Common.extra.attrib"/>    
    <ref name="xhtml.Core.attrib"/>
    <ref name="xhtml.Edit.attrib"/>
    <ref name="xhtml.Embedding.attrib"/>
    <ref name="xhtml.Hypertext.attrib"/>
    <ref name="xhtml.I18n.attrib"/>
    <ref name="xhtml.role.attrib"/>
    <ref name="rdfa.Metadata.attrib"/>
    <ref name="xhtml.media.attrib"/>
    <ref name="xhtml.style.attrib"/>
    <ref name="xhtml.Map.attrib"/>
  </define>
    
</grammar>