tags/20090423/src/schema/mod/xhtml-meta-2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>Metainformation Module</x:h1>

  <div>
    <x:h2>The link element</x:h2>

    <define name="xhtml.link">
      <element name="link">
        <ref name="xhtml.link.attlist"/>
        <ref name="xhtml.link.content"/>
      </element>
    </define>

    <define name="xhtml.link.attlist">
      <ref name="xhtml.Common.attrib"/>
    </define>
    
    <define name="xhtml.link.content">
      <empty/>
    </define>
  </div>

  <define name="xhtml.head.misc" combine="choice">
    <ref name="xhtml.link"/>
  </define>

  <div>
    <x:h2>The meta element</x:h2>

    <define name="xhtml.meta">
      <element name="meta">
        <ref name="xhtml.meta.attlist"/>
        <ref name="xhtml.meta.content"/>
      </element>
    </define>

    <define name="xhtml.meta.attlist">
      <ref name="xhtml.Common.attrib"/>
    </define>
    
    <define name="xhtml.meta.content">
        <zeroOrMore>
          <ref name="xhtml.meta"/>
        </zeroOrMore>            
    </define>
  </div>

  <define name="xhtml.head.misc" combine="choice">
    <ref name="xhtml.meta"/>
  </define>

</grammar>