tags/20090423/src/schema/mod/xml-handlers-2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <x:h1>XML Handlers Module in RELAX NG</x:h1>

  <x:pre>
    This is the RELAX NG Schema for the XML Events 2 XML Handlers module.
    
    As per the XMLEvents 2 specification, this modules depends
    on the XML Events Module (xml-events-2.rng).
  
    Copyright &#xA9;2009 W3C&#xAE; (MIT, ERCIM, Keio), All Rights Reserved.

    URI: http://www.w3.org/MarkUp/RELAXNG/xml-handlers-2.rng
    Editor:   Markus Gylling &lt;markus.gylling@tpb.se&gt;
    Revision: $Id: xml-handlers-2.rng,v 1.1.2.3 2009/02/25 12:09:46 mgylling Exp $

    Permission to use, copy, modify and distribute this RELAX NG schema
    for XML Handlers and its accompanying documentation for any purpose and
    without fee is hereby granted in perpetuity, provided that the above
    copyright notice and this paragraph appear in all copies. The copyright
    holders make no representation about the suitability of this RELAX NG
    schema for any purpose.

    It is provided "as is" without expressed or implied warranty.
    For details, please refer to the W3C software license at:

      <x:a href="http://www.w3.org/Consortium/Legal/copyright-software"
      >http://www.w3.org/Consortium/Legal/copyright-software</x:a>
  </x:pre>
  
  <define name="xmlHandlers.action">
  	<element name="action">
  		<ref name="xmlHandlers.action.attlist"/>
  		<ref name="xmlHandlers.action.content"/>
  	</element>
  </define>
  
  <define name="xmlHandlers.action.attlist">
    <ref name="xmlEvents.event.attrib"/>
    <optional>
      <ref name="xmlEvents.eventTarget.attrib"/>
    </optional>          
    <ref name="xmlHandlers.declare.attrib"/>
    <ref name="xmlHandlers.if.attrib"/>
    <ref name="xmlHandlers.while.attrib"/>
    <ref name="xmlHandlers.Common.attrib"/>        
  </define>

  <define name="xmlHandlers.action.content">
  	<choice>
  	  <ref name="xmlHandlers.action"/>
  	  <ref name="xmlHandlers.dispatchEvent"/>
  	  <ref name="xmlHandlers.addEventListener"/>
  	  <ref name="xmlHandlers.removeEventListener"/>
  	  <ref name="xmlHandlers.stopPropagation"/>
  	  <ref name="xmlHandlers.preventDefault"/>  		  		  		  		
  	</choice>  
  </define>
  
  <define name="xmlHandlers.dispatchEvent">
  	<element name="dispatchEvent">
      <ref name="xmlHandlers.dispatchEvent.attlist"/>  	
  	  <empty/>
  	</element>
  </define>

  <define name="xmlHandlers.dispatchEvent.attlist">
    <ref name="xmlHandlers.Common.attrib"/>    
    <ref name="xmlHandlers.eventType.attrib"/>
    <ref name="xmlEvents.eventTarget.attrib"/>
    <ref name="xmlHandlers.bubbles.attrib"/>
    <ref name="xmlHandlers.cancelable.attrib"/>     
  </define>

  <define name="xmlHandlers.addEventListener">
   	<element name="addEventListener">
      <ref name="xmlHandlers.addEventListener.attlist"/>
  	  <empty/>
  	</element> 
  </define>  

  <define name="xmlHandlers.addEventListener.attlist">
  	<ref name="xmlHandlers.removeEventListener.attlist"/>
  </define>

  <define name="xmlHandlers.removeEventListener">
   	<element name="removeEventListener">
      <ref name="xmlHandlers.removeEventListener.attlist"/>   	
  	  <empty/>
  	</element>  
  </define>
    
  <define name="xmlHandlers.removeEventListener.attlist">
    <ref name="xmlHandlers.event.attrib"/>
    <ref name="xmlEvents.handler.attrib"/>
    <optional>
      <ref name="xmlEvents.phase.attrib"/>
    </optional>              
    <ref name="xmlHandlers.Common.attrib"/>
  </define>  
  
  <define name="xmlHandlers.stopPropagation">
   	<element name="stopPropagation">
   	  <ref name="xmlHandlers.stopPropagation.attlist"/>   
  	  <empty/>
  	</element>      
  </define>   

  <define name="xmlHandlers.stopPropagation.attlist">
    <ref name="xmlHandlers.Common.attrib"/>
    <ref name="xmlHandlers.event.attrib"/>
  </define>  

  <define name="xmlHandlers.preventDefault">
   	<element name="preventDefault">
      <ref name="xmlHandlers.preventDefault.attlist"/>
  	  <empty/>
  	</element>        
  </define> 

  <define name="xmlHandlers.preventDefault.attlist">
    <ref name="xmlHandlers.Common.attrib"/>
    <ref name="xmlHandlers.event.attrib"/>
  </define>  
  
  <define name="xmlHandlers.Common.attrib">
    <!-- The host grammar must contribute an
    attribute of type ID to this class -->
    <empty/> 
  </define>
  
  <define name="xmlHandlers.event.attrib">
    <attribute name="event">
      <data type="QName"/>
    </attribute>
  </define>  
  
  <define name="xmlHandlers.declare.attrib">
    <optional>
      <attribute name="declare">
        <value>declare</value>
      </attribute>
    </optional>  
  </define>	

  <define name="xmlHandlers.if.attrib">
    <optional>
      <attribute name="if">
      	<data type="normalizedString"/>
      </attribute>
    </optional>
  </define>    
  
  <define name="xmlHandlers.while.attrib">
    <optional>
      <attribute name="while">
      	<data type="normalizedString"/>
      </attribute>
    </optional>
  </define>    
  
  <define name="xmlHandlers.eventType.attrib">
    <attribute name="eventType">
      	<data type="QName"/>
    </attribute>
  </define>  
    
  <define name="xmlHandlers.bubbles.attrib">
    <optional>
      <attribute name="bubbles">
      	<value>bubbles</value>
      </attribute>
    </optional>  
  </define>  
  
  <define name="xmlHandlers.cancelable.attrib">
    <optional>
      <attribute name="cancelable">
      	<value>cancelable</value>
      </attribute>
    </optional>
  </define>    
</grammar>  