sandbox/ZedAi/w3c/rng/xforms-nons-11.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>No-namespace XForms 1.1 schema in RELAX NG</x:h1>

  <x:pre>
    Copyright &#xA9;2005 W3C&#xAE; (MIT, ERCIM, Keio), All Rights Reserved.

      Revision: $Id: xforms-nons-11.rng,v 1.3 2005/07/27 13:35:36 mimasa Exp $

    Permission to use, copy, modify and distribute this RELAX NG schema
    for XForms 1.1 and its accompanying documentation for any purpose and
    without fee is hereby granted in perpetuity, provided that the above
    copyright notice and this paragraph appear in all copies. The copyright
    holders make no representation about the suitability of this RELAX NG
    schema for any purpose.

    It is provided "as is" without expressed or implied warranty.
    For details, please refer to the W3C software license at:

      <x:a href="http://www.w3.org/Consortium/Legal/copyright-software"
      >http://www.w3.org/Consortium/Legal/copyright-software</x:a>
  </x:pre>

  <include href="xforms.rng"/>

  <!-- add new stuff here -->

  <define name="XPathExpression.datatype">
    <text/>
  </define>

  <define name="duplicate">
    <element name="duplicate">
      <ref name="duplicate.attrib"/>
      <ref name="duplicate.content"/>
    </element>
  </define>

  <define name="duplicate.attrib" combine="interleave">
    <ref name="XFORMS.Common.attrib"/>
    <optional>
      <ref name="XFORMS.Events.attrib"/>
    </optional>
    <optional>
      <ref name="XFORMS.Single.Node.Binding.attrib"/>
    </optional>
    <attribute name="origin">
      <ref name="XPathExpression.datatype"/>
    </attribute>
    <optional>
      <attribute name="before">
        <ref name="XPathExpression.datatype"/>
      </attribute>
    </optional>
  </define>

  <define name="duplicate.content">
    <empty/>
  </define>

</grammar>
