sandbox/ZedDist/src/schema/ncx-classic.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    
    <!-- the "classic" ncx -->
    
    <!-- TODO add inline XHTML ns markup contribution support to ncx.label.text -->    
    <!-- TODO navInfo -->
    <!-- TODO SCH constraint?: no navlist may have the same role value(s)? -->
    <!-- TODO SCH constraint: multiple labels within same target must not have equal xml:lang -->
    
    <!-- import the components  -->
    <include href="./mod/ncx-attrib.rng"/>
    <include href="./mod/ncx-navmap.rng"/>
    <include href="./mod/ncx-navlist.rng"/>    
    <include href="./mod/ncx-label.rng" /> 
    <include href="./mod/ncx-target.rng">
        <!-- in this NCX Profile, targets must use the label element -->
        <define name="ncx.target.label.slot" combine="interleave">        
            <oneOrMore>
                <ref name="ncx.label"/>
            </oneOrMore>
        </define>
    </include>
    
    <!-- import the global datatypes collection -->
    <include href="./mod/z3986-datatypes.rng"/>
    
    <!-- import the root and create the model, one navMap, 0-n navLists -->
    <include href="./mod/ncx-document.rng">
        <define name="ncx.ncx.content">
            <ref name="ncx.navmap"/>
            <zeroOrMore>
                <ref name="ncx.navlist"/>
            </zeroOrMore>
        </define>
    </include>
    
    <!-- add ord to navTarget, required -->
    <define name="ncx.target.attlist" combine="interleave">
        <ref name="ncx.ord.attrib"/>
    </define>    
    
</grammar>
