tags/20100521/src/schema/mod/ssml-11.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/2001/10/synthesis" 
  xmlns:ssml="http://www.w3.org/2001/10/synthesis"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:z="http://www.daisy.org/ns/z3986/annotations/#"
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <rdf:RDF>
    <rdf:Description>
      <dcterms:title z:short="ssml-elements">The SSML Element Integration Module</dcterms:title>
      <dcterms:description>Provides a subset of the W3C [[http://www.w3.org/TR/speech-synthesis11/ Speech Synthesis Markup Language (SSML)
        Version 1.1]] element set, suitable for integration in Z39.86-2011 Profiles.</dcterms:description>      
      <dcterms:publisher>DAISY Consortium</dcterms:publisher>
      <dcterms:creator>Markus Gylling</dcterms:creator>      
      <dcterms:issued>2009-12-21</dcterms:issued>      
      <dcterms:rights>Copyright 1998-2008 W3C (MIT, ERCIM, Keio), All Rights
        Reserved. Permission to use, copy, modify and distribute
        the SSML schema and its accompanying documentation for
        any purpose and without fee is hereby granted in
        perpetuity, provided that the above copyright notice and
        this paragraph appear in all copies.</dcterms:rights>
      <dcterms:rightsHolder>World Wide Web Consortium (http://www.w3.org)</dcterms:rightsHolder>      
      <dcterms:requires rdf:resource="z3986-core-attrib.rng"/>  
      <dcterms:requires rdf:resource="z3986-datatypes.rng"/> 
      <dcterms:requires rdf:resource="z3986-global-classes.rng"/> 
      <dcterms:requires rdf:resource="z3986-i18n-attrib.rng"/> 
      <dcterms:requires rdf:resource="ssml-datatypes.rng"/> 
    </rdf:Description>
  </rdf:RDF>
  
  <div>
    
    <define name="ssml.break">
      <element name="break">  
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ssml:break">The SSML {break} element</dcterms:title>
            <dcterms:description>Controls the pausing or other prosodic boundaries between tokens.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.3 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content />            
            <z:attlist>{[[#ssml.strength.attrib]]?, [[#ssml.time.attrib]]?, [[#xml.id.attrib]]?}</z:attlist>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.break.attlist"/>
        <empty/>
      </element>
    </define>
    
    <define name="ssml.break.attlist" combine="interleave">
      <optional>
        <ref name="ssml.strength.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.time.attrib"/>
      </optional>
      <optional>
        <ref name="xml.id.attrib"/>
      </optional>       
    </define>
    
    <define name="ssml.strength.attrib">
      <attribute name="strength">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="strength">The SSML {strength} attribute</dcterms:title>
            <dcterms:description>Indicates the prosodic strength of the break in the speech output.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.3 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.break]]}</z:context>          
            <z:content>{'none' | 'x-weak' | 'weak' | 'medium" | 'strong' | 'x-strong'}</z:content>            
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.strength.attrib.content" />
      </attribute>
    </define>
    
    <define name="ssml.strength.attrib.content">
      <choice>
        <value>none</value>
        <a:documentation>Indicates that no prosodic break boundary should be output.</a:documentation>
        <value>x-weak</value>
        <value>weak</value>
        <value>medium</value>
        <value>strong</value>
        <value>x-strong</value>
      </choice>
    </define>  
    
    <define name="ssml.time.attrib">     
      <attribute name="time">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="time">The SSML {time} attribute</dcterms:title>
            <dcterms:description>Indicates the duration of a pause to be inserted in the output in seconds or milliseconds.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.3 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.break]]}</z:context>          
            <z:content>{[[#CSS.TimeValue.datatype]]}</z:content>            
          </rdf:Description>
        </rdf:RDF>
        <ref name="CSS.TimeValue.datatype"/> 
      </attribute>
    </define>
    
  </div>  
  
  <div>  
    <define name="ssml.onlangfailure.attrib">
      <attribute name="ssml:onlangfailure" ns="http://www.w3.org/2001/10/synthesis">  
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="onlangfailure">The SSML {onlangfailure} attribute</dcterms:title>
            <dcterms:description>Describes the desired behavior of a synthesis processor upon language speaking failure. The value of this attribute is inherited by descendants.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#adef_onlangfailure SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Document.attrib]]}, {[[#z3986.Phrase.attrib]]} and {[[#z3986.Text.attrib]]}</z:context>          
            <z:content>{'changevoice" | 'ignoretext' | 'ignorelang' | 'processorchoice'}</z:content>            
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.onlangfailure.attrib.content"/>
      </attribute>    
    </define>
    
    <define name="ssml.onlangfailure.attrib.content">
      <choice>
        <value>changevoice</value>
        <a:documentation>if a voice exists that can speak the language, the synthesis processor will switch to that voice and speak the content. Otherwise, the processor chooses another behavior (either ignoretext or ignorelang)</a:documentation>
        <value>ignoretext</value>
        <a:documentation>the synthesis processor will not attempt to render the text that is in the failed language.</a:documentation>
        <value>ignorelang</value>
        <a:documentation>the synthesis processor will ignore the change in language and speak as if the content were in the previous language.</a:documentation>
        <value>processorchoice</value>
        <a:documentation>processorchoice - the synthesis processor chooses the behavior (either changevoice, ignoretext, or ignorelang).</a:documentation>
      </choice>
    </define>  
  </div>  
  
  <div>
    <define name="ssml.phoneme">
      <element name="phoneme"> 
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ssml:phoneme">The SSML {phoneme} element</dcterms:title>
            <dcterms:description>Provides a phonemic/phonetic pronunciation for the contained text.</dcterms:description>
            <z:info>The phoneme element may be empty. However, it is recommended that the element contain human-readable text that can be used for non-spoken rendering of the document.</z:info>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#edef_phoneme SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</z:content>            
            <z:attlist>{[[#ssml.ph.attrib]], [[#ssml.alphabet.attrib]]?, [[#z3986.Core.attrib]], [[#z3986.I18n.attrib]]}</z:attlist>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.phoneme.attlist"/>
        <ref name="ssml.phoneme.content"/>
        <sch:rule context="ssml:phoneme">
          <sch:assert test="not(descendant::ssml:*) and not(descendant::*[@ssml:*])"
            >The {ssml:phoneme} element must not have {ssml} namespace element or attribute descendants.</sch:assert>
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {ssml:phoneme} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>
    
    <define name="ssml.phoneme.content">
      <ref name="z3986.Phrase.Text.mix.model"/>
    </define>
    
    <define name="ssml.phoneme.attlist" combine="interleave">
      <ref name="ssml.ph.attrib"/>
      <optional>
        <ref name="ssml.alphabet.attrib"/>
      </optional>
      <ref name="z3986.Core.attrib"/>
      <ref name="z3986.I18n.attrib"/>
    </define>
    
    <define name="ssml.ph.attrib">
      <attribute name="ph">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ph">The SSML {ph} attribute</dcterms:title>
            <dcterms:description>Specifies a phonemic/phonetic pronunciation for the text contained
              in the current element.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#edef_phoneme SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.phoneme]]}</z:context>
            <z:content>{[[#SSML.PhoneticExpression.datatype]]}</z:content>
          </rdf:Description>
        </rdf:RDF>     
        <ref name="ssml.ph.attrib.content" />
      </attribute>
    </define>
    
    <define name="ssml.ph.attrib.content">
      <ref name="SSML.PhoneticExpression.datatype"/>
    </define>  
    
    <define name="ssml.alphabet.attrib">
      <attribute name="alphabet">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="alphabet">The SSML {alphabet} attribute</dcterms:title>
            <dcterms:description>Specifies which phonemic/phonetic pronunciation alphabet is used in the {[[#ssml.ph.attrib]]} attribute.</dcterms:description>
            <z:info>If omitted, the implicit value {x-SAMPA} is assumed.</z:info>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#edef_phoneme SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.phoneme]]}</z:context>
            <z:content>{[[#SSML.alphabet.datatype]]}</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.alphabet.attrib.content"/>
      </attribute>
    </define>
    
    <define name="ssml.alphabet.attrib.content">
      <ref name="SSML.alphabet.datatype"/>
    </define>  
        
  </div>
  
  <div>          
    <define name="ssml.prosody">
      <element name="prosody">   
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ssml:prosody">The SSML {prosody} element</dcterms:title>
            <dcterms:description>Permits control of the pitch, speaking rate and volume of speech output.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}}</z:content>            
            <z:attlist>{[[#ssml.pitch.attrib]]?, [[#ssml.contour.attrib]]?, [[#ssml.range.attrib]]?, [[#ssml.rate.attrib]]?, [[#ssml.duration.attrib]]?, [[#ssml.volume.attrib]]?, [[#z3986.Core.attrib]], [[#z3986.I18n.attrib]]}</z:attlist>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.prosody.attlist"/>
        <ref name="ssml.prosody.content"/>
        <sch:rule context="ssml:prosody">
          <sch:assert test="not(descendant::ssml:prosody)"
            >The {ssml:prosody} element must not have {ssml:prosody} descendants.</sch:assert>
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {ssml:prosody} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>
    </define>
    
    <define name="ssml.prosody.content">
      <ref name="z3986.Phrase.Text.mix.model" />
    </define>
    
    
    <define name="ssml.prosody.attlist" combine="interleave">
      <optional>
        <ref name="ssml.pitch.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.contour.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.range.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.rate.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.duration.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.volume.attrib"/>
      </optional>
      <ref name="z3986.Core.attrib"/>           
      <ref name="z3986.I18n.attrib"/>
    </define>
    
    <define name="ssml.pitch.attrib">
      <attribute name="pitch">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="pitch">The SSML {pitch} attribute</dcterms:title>
            <dcterms:description>Specifies the baseline pitch for the contained text.</dcterms:description>
            <z:info>The labels {x-low} through {x-high} represent a sequence of monotonically non-decreasing pitch levels.</z:info>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{'x-low' | 'low' | 'medium' | 'high' | 'x-high' | 'default' | [[#SSML.RelativeChange.datatype]] | [[#SSML.PitchExpression.datatype]]}</z:content>
            <z:context>{[[#ssml.prosody]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.pitch.attrib.content" />
      </attribute>      
    </define>
    
    <define name="ssml.pitch.attrib.content">
      <choice>
        <value>x-low</value>
        <value>low</value>
        <value>medium</value>
        <value>high</value>
        <value>x-high</value>
        <value>default</value>
        <ref name="SSML.RelativeChange.datatype"/>
        <ref name="SSML.PitchExpression.datatype"/>
      </choice>
    </define>  
    
    <define name="ssml.contour.attrib">
      <attribute name="contour">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="contour">The SSML {contour} attribute</dcterms:title>
            <dcterms:description>Sets the pitch contour for the contained text.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] 
            for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{[[#SSML.PitchContour.datatype]]}</z:content>
            <z:context>{[[#ssml.prosody]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.contour.attrib.content"/>
      </attribute>  
    </define>
    
    <define name="ssml.contour.attrib.content">
      <ref name="SSML.PitchContour.datatype"/>
    </define>  
    
    <define name="ssml.range.attrib">
      <attribute name="range">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="range">The SSML {range} attribute</dcterms:title>
            <dcterms:description>Specifies the pitch range (variability) for the contained text.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] 
            for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{'x-low' | 'low' | 'medium' | 'high' | 'x-high' | 'default' | [[#SSML.RelativeChange.datatype]] | [[#SSML.PitchExpression.datatype]]}</z:content>
            <z:context>{[[#ssml.prosody]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.pitch.attrib.content"/>
      </attribute>        
    </define>
    
    <define name="ssml.rate.attrib">
      <attribute name="rate">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="rate">The SSML {rate} attribute</dcterms:title>
            <dcterms:description>Specifies a change in the speaking rate for the contained text.</dcterms:description>
            <z:info>The values {x-slow} through {x-fast} represent a sequence of monotonically non-decreasing speaking rates.</z:info>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] 
            for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{'x-slow' | 'slow' | 'medium' | 'fast' | 'x-fast' | 'default' | [[#SSML.NonNegativePercentage.datatype]]}</z:content>
            <z:context>{[[#ssml.prosody]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.rate.attrib.content"/>
       </attribute> 
    </define>
    
    <define name="ssml.rate.attrib.content">
      <choice>        
        <value>x-slow</value> 
        <value>slow</value>
        <value>medium</value>
        <value>fast</value>
        <value>x-fast</value>
        <value>default</value>   
        <ref name="SSML.NonNegativePercentage.datatype"/>
      </choice>
    </define>
    
    <define name="ssml.duration.attrib">
      <attribute name="duration">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="duration">The SSML {duration} attribute</dcterms:title>
            <dcterms:description>Specifies a value in seconds or milliseconds for the desired time to take to read the contained text.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.prosody]]}</z:context>
            <z:content>{[[#CSS.TimeValue.datatype]]}</z:content>
          </rdf:Description>
        </rdf:RDF>
        <ref name="CSS.TimeValue.datatype"/>
      </attribute>
    </define>
    
    <define name="ssml.volume.attrib">
      <attribute name="volume">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="volume">The SSML {volume} attribute</dcterms:title>
            <dcterms:description>Specifies the volume for the contained text.</dcterms:description>
            <z:info>If omitted, the implicit value {+0.0dB} is assumed.</z:info> 
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.4 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.prosody]]}</z:context>
            <z:content>{'silent' | 'x-soft' | 'soft' | 'medium' | 'loud' | 'x-loud' | 'default' | [[#SSML.VolumeExpression.datatype]]}</z:content> 
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.volume.attrib.content"/>
      </attribute>        
    </define>
    
    <define name="ssml.volume.attrib.content">
      <choice>
        <value>silent</value>
        <value>x-soft</value>
        <value>soft</value>
        <value>medium</value>
        <value>loud</value>
        <value>x-loud</value>
        <value>default</value>
        <ref name="SSML.VolumeExpression.datatype" />
      </choice>  
    </define>
        
  </div>
  
  <div>        
    <define name="ssml.say-as">
      <element name="say-as">  
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ssml:say-as">The SSML {say-as} element</dcterms:title>
            <dcterms:description>Provides information on the type of text construct contained within the element to help specify the level of detail for rendering the contained text.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.9 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</z:content>        
            <z:attlist>{[[#ssml.interpret-as.attrib]], [[#ssml.format.attrib]]?, [[#ssml.detail.attrib]]?, [[#z3986.Core.attrib]], [[#z3986.I18n.attrib]]}</z:attlist>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.say-as.attlist"/>
        <ref name="ssml.say-as.content"/>
        <sch:rule context="ssml:say-as">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {ssml:say-as} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>        
      </element>    
    </define>
    
    <define name="ssml.say-as.content">
      <ref name="z3986.Phrase.Text.mix.model"/>
    </define>
    
    <define name="ssml.say-as.attlist" combine="interleave">      
      <ref name="ssml.interpret-as.attrib"/>
      <optional>
        <ref name="ssml.format.attrib"/>
      </optional>
      <optional>
        <ref name="ssml.detail.attrib"/>
      </optional>
      <ref name="z3986.Core.attrib"/>
      <ref name="z3986.I18n.attrib"/>
    </define>
    
    <define name="ssml.interpret-as.attrib">
      <attribute name="interpret-as">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="interpret-as">The SSML {interpret-as} attribute</dcterms:title>
            <dcterms:description>Indicates the content type of the contained text construct.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.9 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.say-as]]}</z:context>
            <z:content>{'date' | 'time' | 'telephone' | 'characters' | 'cardinal' | 'ordinal'}</z:content>
          </rdf:Description>
        </rdf:RDF>      
        <choice>
          <a:documentation>Indicates that the contained text is a Gregorian calendar date.</a:documentation>
          <value>date</value>
          <a:documentation>Indicates that the contained text is a time.</a:documentation>
          <value>time</value>
          <a:documentation>Indicates that the contained text is a telephone number.</a:documentation>
          <value>telephone</value>
          <a:documentation>Indicates that the enclosed text should be spoken as a series of alpha-numeric characters.</a:documentation>
          <value>characters</value>
          <a:documentation>Indicates that the enclosed text is an integral or decimal number and should be spoken as a cardinal number (as opposed to an ordinal number or digit string).</a:documentation>
          <value>cardinal</value>
          <a:documentation>Indicates that the enclosed text is an integral number and should be spoken as an ordinal number (as opposed to a cardinal number or digit string).</a:documentation>
          <value>ordinal</value>
        </choice>
      </attribute>
    </define>
    
    <define name="ssml.format.attrib">
      <attribute name="format">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="format">The SSML {format} attribute</dcterms:title>
            <dcterms:description>In addition to [[#ssml.interpret-as.attrib]], provides further hints on the precise formatting of the contained text for content types that may have ambiguous formats.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.9 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.say-as]]}</z:context>
            <z:content>{text}</z:content>
          </rdf:Description>
        </rdf:RDF>        
      </attribute>
    </define>
    
    <define name="ssml.detail.attrib">
      <attribute name="detail">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="detail">The SSML {detail} attribute</dcterms:title>
            <dcterms:description>Indicates the level of detail to be read aloud or rendered.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.3 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#ssml.say-as]]}</z:context>
            <z:content>{text}</z:content>
          </rdf:Description>
        </rdf:RDF>          
      </attribute>
    </define>
        
  </div>
  
  <div>   
    <define name="ssml.sub">
      <element name="sub">    
          <rdf:RDF>
            <rdf:Description>
              <dcterms:title z:short="ssml:sub">The SSML {sub} element</dcterms:title>
              <dcterms:description>Indicates that the text in the alias attribute value replaces the contained text for pronunciation.</dcterms:description>
              <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.11 SSML 1.1]] for further information.</z:info>
              <dcterms:isRequiredBy rdf:resource="."/>
              <z:context>{[[#z3986.Phrase.class]]}</z:context>          
              <z:content>{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</z:content>        
              <z:attlist>{[[#ssml.alias.attrib]], [[#z3986.Core.attrib]], [[#z3986.I18n.attrib]]}</z:attlist>
            </rdf:Description>
          </rdf:RDF>
        <ref name="ssml.sub.attlist"/>
        <ref name="ssml.sub.content"/>
        <sch:rule context="ssml:sub">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {ssml:sub} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>
    
    <define name="ssml.sub.attlist" combine="interleave">      
      <ref name="ssml.alias.attrib"/>      
      <!-- Since the ssml-ph-attrib module contributes ph
        and alphabet, we cant reference z3986.Phrase.attrib  -->
      <ref name="z3986.Core.attrib"/>
      <ref name="z3986.I18n.attrib"/>
    </define>
    
    <define name="ssml.alias.attrib">
      <attribute name="alias">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="alias">The SSML {alias} attribute</dcterms:title>
            <dcterms:description>Specifies the string to be spoken instead of the string in the sub element.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.11 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{text}</z:content>
            <z:context fixed="true">{[[#ssml.sub]]}</z:context>
          </rdf:Description>
        </rdf:RDF>  
      </attribute>
    </define>
    
    <define name="ssml.sub.content">
      <ref name="z3986.Phrase.Text.mix.model"/>
    </define>
    
  </div>  
  
  <div>    
    <define name="ssml.token">
      <element name="token"> 
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="ssml:token">The SSML {token} element</dcterms:title>
            <dcterms:description>Indicates that the content is a token in order to to eliminate token (word) segmentation ambiguities of a synthesis processor.</dcterms:description>            
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.2.3 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]])+}</z:content>        
            <z:attlist>{[[#z3986.Phrase.attrib]]}</z:attlist>
          </rdf:Description>
        </rdf:RDF>
        <ref name="ssml.token.attlist"/>
        <ref name="ssml.token.content"/>
        <sch:rule context="ssml:token">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {ssml:token} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>
    
    <define name="ssml.token.attlist" combine="interleave">
      <ref name="z3986.Phrase.attrib"/>
    </define>        
    
    <define name="ssml.token.content">
      <ref name="z3986.Text.model"/>
    </define>
    
  </div> 
  
  <div>
    
   <define name="ssml.lexicon">
     <element name="lexicon">  
       <rdf:RDF>
         <rdf:Description>
           <dcterms:title z:short="ssml:lexicon">The SSML {lexicon} element</dcterms:title>
           <dcterms:description>Specifies a reference to a lexicon document.</dcterms:description>
           <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.5.1 SSML 1.1]] for further information.</z:info>
           <dcterms:isRequiredBy rdf:resource="."/>
           <z:context>The lexicon element is allowed in the document {[[#z3986.head]]}.</z:context>          
           <z:content />        
           <z:attlist fixed="true">{[[#ssml.lexicon.uri.attrib]], [[#xml.id.attrib]], [[#ssml.lexicon.type.attrib]]?}</z:attlist>
         </rdf:Description>
       </rdf:RDF>
       <ref name="ssml.lexicon.attlist"/>
       <empty/>
     </element>
   </define>
    
   <define name="ssml.lexicon.attlist">
    <ref name="ssml.lexicon.uri.attrib"/>
    <ref name="xml.id.attrib"/>
    <optional>
     <ref name="ssml.lexicon.type.attrib"/>
    </optional>
   </define>
   
    <define name="ssml.lexicon.uri.attrib">
      <attribute name="uri">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="uri">The SSML {uri} attribute</dcterms:title>
            <dcterms:description>Identifies the location of the lexicon document.</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.5.1 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{[[#URI.datatype]]}</z:content>
            <z:context>{[[#ssml.lexicon]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <ref name="URI.datatype"/>
      </attribute>  
    </define>
    
    <define name="ssml.lexicon.type.attrib">
      <attribute name="type">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="type">The SSML {type} attribute</dcterms:title>
            <dcterms:description>Specifies the media type of the lexicon document. The implicit value of this attribute is 
              {application/pls+xml}, the media type associated with the [[http://www.w3.org/TR/speech-synthesis11/#ref-pls Pronunciation Lexicon Specification]].</dcterms:description>
            <z:info>Refer to [[http://www.w3.org/TR/speech-synthesis11/#S3.1.5.1 SSML 1.1]] for further information.</z:info>
            <dcterms:isRequiredBy rdf:resource="."/>
            <z:content>{[[#MediaType.datatype]]}</z:content>
            <z:context>{[[#ssml.lexicon]]}</z:context>
          </rdf:Description>
        </rdf:RDF>
        <choice>
          <value>application/pls+xml</value>
          <ref name="MediaType.datatype"/> 
        </choice>  
      </attribute>  
    </define>
   
  </div>
  
</grammar>