tags/20100521/src/schema/mod/z3986-name.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.daisy.org/ns/z3986/authoring/"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:z="http://www.daisy.org/ns/z3986/annotations/#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <rdf:RDF>
    <rdf:Description>
      <dcterms:title z:short="name">The name module</dcterms:title>
      <dcterms:description>This module defines the [[#z3986.name]] element for identifying proper names.</dcterms:description>
      <dcterms:publisher>DAISY Consortium</dcterms:publisher>
      <dcterms:license rdf:resource="{LICENSE_TODO}" />
      <dcterms:creator>Markus Gylling</dcterms:creator>      
      <dcterms:issued>2009-12-21</dcterms:issued>
      <dcterms:requires rdf:resource="z3986-datatypes.rng"/>
      <dcterms:requires rdf:resource="z3986-core-attrib.rng"/>
      <dcterms:requires rdf:resource="z3986-i18n-attrib.rng"/>
      <dcterms:requires rdf:resource="rdfa-attrib.rng"/>
      <dcterms:requires rdf:resource="z3986-span.rng"/>
      <dcterms:requires rdf:resource="z3986-global-classes.rng"/>
    </rdf:Description>
  </rdf:RDF>
    
  <div>
    <define name="z3986.name">
      <element name="name">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="name">The {name} element</dcterms:title>
            <dcterms:description>The {name} element represents particular instances of names, places and things (proper nouns).</dcterms:description>
            <z:info>
              The {[[#z3986.role.attrib]]} attribute optionally expresses the semantic nature of the proper noun.
              No implicit value is associated with the {name} element. 
            </z:info>
            <dcterms:isRequiredBy rdf:resource="."/>                     
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]])+}</z:content>          
            <z:attlist>{[[#z3986.Phrase.attrib]]}</z:attlist>      
          </rdf:Description>
        </rdf:RDF>
        <ref name="z3986.name.attlist"/>
        <ref name="z3986.name.content"/>  
        <sch:rule context="default:name">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {name} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>

    <define name="z3986.name.attlist">
      <!-- expand out Phrase.attrib in order to allow
        value suggestion injections on @role -->
      <ref name="z3986.Core.attrib"/>
      <ref name="z3986.I18n.attrib"/>
      <optional>
        <ref name="z3986.name.role.attrib"/>
      </optional>
      <ref name="Rdfa.attrib"/>
      <ref name="z3986.Phrase.contrib.attrib"/>
    </define>
    
    <define name="z3986.name.role.attrib">
      <attribute name="role">
        <list>
          <oneOrMore>
            <ref name="z3986.name.role.attrib.content.enum" />                        
          </oneOrMore>  
        </list>  
      </attribute>  
    </define>    
    
    <define name="z3986.name.role.attrib.content.enum" combine="choice">
      <ref name="QName.datatype"/>
    </define>
    
    <define name="z3986.name.content">
      <oneOrMore>
        <choice>
          <ref name="Characters.datatype"/>
          <ref name="z3986.Text.class"/>
          <ref name="z3986.name.extra.class"/>
        </choice>
      </oneOrMore>
    </define>
    
    <define name="z3986.name.extra.class" combine="choice">
      <choice>
        <ref name="z3986.span"/> <!-- TODO this needs to be fixed, this reopens Phrase.class, if anything a Text.class variant of span is needed -->
      </choice>
    </define>  
    
  </div>  

  <div>
    <a:documentation>name - default content model contribution</a:documentation>
    
    <define name="z3986.Phrase.core.class" combine="choice">
      <ref name="z3986.name"/>    
    </define>
    
  </div>

</grammar>