tags/20100521/src/schema/mod/z3986-emph.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.daisy.org/ns/z3986/authoring/"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:z="http://www.daisy.org/ns/z3986/annotations/#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <rdf:RDF>
    <rdf:Description>
      <dcterms:title z:short="emph">The emphasis module</dcterms:title>
      <dcterms:description>This module defines the [[#z3986.emph]] element for indicating the placement of emphasis on words or phrases.</dcterms:description>
      <dcterms:publisher>DAISY Consortium</dcterms:publisher>
      <dcterms:license rdf:resource="{LICENSE_TODO}" />
      <dcterms:creator>Markus Gylling</dcterms:creator>      
      <dcterms:issued>2009-12-21</dcterms:issued>
      <dcterms:requires rdf:resource="z3986-global-classes.rng"/>
    </rdf:Description>
  </rdf:RDF>
    
  <div>
    <define name="z3986.emph">
      <element name="emph">
        <rdf:RDF>
          <rdf:Description>
            <dcterms:title z:short="emph">The {emph} element</dcterms:title>
            <dcterms:description>The {emph} element represents an author's emphasis.</dcterms:description>      
            <z:info>Emphasis is not restricted to italicized text, but may constitute any of a variety of typographical or styling means used to
              distinguish text, such as bolding, underlining, coloring, etc.</z:info>                                  
            <z:info>Nested {emph} elements indicate extra emphasized segments within an emphasized segment.</z:info>            
            <dcterms:isRequiredBy rdf:resource="."/>                     
            <z:context>{[[#z3986.Phrase.class]]}</z:context>          
            <z:content>{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</z:content>          
            <z:attlist>{[[#z3986.Phrase.attrib]]}</z:attlist>      
          </rdf:Description>
        </rdf:RDF>
        <ref name="z3986.emph.attlist"/>
        <ref name="z3986.emph.content"/>  
        <sch:rule context="default:emph">
          <sch:assert test="count(*) > 0 or string-length(normalize-space(.)) > 0"
            >The {emph} element must neither be empty nor contain only whitespace.</sch:assert>
        </sch:rule>
      </element>    
    </define>

    <define name="z3986.emph.attlist">
      <ref name="z3986.Phrase.attrib"/>
    </define>
    
    <define name="z3986.emph.content">
      <ref name="z3986.Phrase.Text.mix.model" />
    </define>  
    
  </div>  
  
  <div>
    <a:documentation>emph - default content model contribution</a:documentation>
    
    <define name="z3986.Phrase.core.class" combine="choice">
      <ref name="z3986.emph"/>
    </define>
    
  </div>

</grammar>