tags/20091203/src/schema/mod/z3986-depth-attrib.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
  xmlns="http://relaxng.org/ns/structure/1.0" 
  xmlns:x="http://www.w3.org/1999/xhtml">
  
  <x:h1>Z39.86 Depth attribute module</x:h1>
    
  <div>
    <x:h2>The depth attribute</x:h2>
    <x:div id="z3986.depth.attrib">
      <x:p>Specifies the nesting depth of this element in relation to ancestor elements with the same name. The outermost
      ancestor has the implied depth value <x:code>0</x:code>.</x:p>
    </x:div>
    
    <define name="z3986.depth.attrib">      
      <attribute name="depth">
        <ref name="NonNegativeInteger.datatype"/>    
      </attribute>
    </define>    
    
  </div>
        
  <div>
    <x:h2>Depth attribute module - default content model contribution</x:h2>    
  
    <define name="z3986.section.attlist" combine="interleave">    
      <optional>
        <ref name="z3986.depth.attrib"/>      
      </optional>
    </define>
        
    <define name="z3986.list.attlist" combine="interleave">    
      <optional>
        <ref name="z3986.depth.attrib"/>      
      </optional>
    </define>
    
    <define name="z3986.toc.entry.attlist" combine="interleave">      
      <optional>
        <ref name="z3986.depth.attrib"/>
      </optional>	
    </define>
    
    <define name="z3986.block.structural.attlist" combine="interleave">
      <optional>
        <ref name="z3986.depth.attrib"/>
      </optional>
    </define>
    
    <define name="z3986.block.flow.attlist" combine="interleave">
      <optional>
        <ref name="z3986.depth.attrib"/>
      </optional>
    </define>
    
  </div>
  
</grammar>