tags/20110103/src/schema/mod/_template-module.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.daisy.org/ns/z3986/authoring/"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:xlink="http://www.w3.org/1999/xlink" 
  xmlns:db="http://docbook.org/ns/docbook">

  <info xmlns="http://docbook.org/ns/docbook"> <!-- module-level documentation is done using the docbook info element -->
    <title xreflabel="aside">The aside module</title> <!-- info/title and info/title/@xreflabel are required -->
    <annotation annotates="/" condition="required"> <!-- info/annotation is required; annotation/@annotates specifies the target using xpath -->
                                                    <!-- @condition='required' means module must be included in all zedai profiles -->
      <para role="desc-main">This module defines the {[[#z3986.foo]]} element for capturing foo.</para> <!-- @role='desc-main' is required -->
      <para role="desc-sub">This module defines the {[[#z3986.foo]]} element for capturing foo.</para> <!-- @role='desc-sub' is optional -->
      <simplelist role="def-dependencies"> <!-- describes hard dependencies that this module has -->
                                           <!-- the other direction (other modules depending on this) is autogenerated by rng-rng-preprocess.xsl -->
        <member xlink:href="z3986-global-classes.rng"/>
        <member xlink:href="z3986-datatypes.rng"/>
        <member xlink:href="z3986-core-attrib.rng"/>
        <member xlink:href="z3986-i18n-attrib.rng"/>
        <member xlink:href="rdfa-attrib.rng"/>
      </simplelist>
    </annotation>
    <author>
      <personname>Markus Gylling</personname>
      <email>mgylling@daisy.org</email>
    </author>
    <copyright>
      <year>2009</year>
      <year>2010</year>
      <holder>DAISY Consortium</holder>
    </copyright>
    <legalnotice>
      <para>
        This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is 
        available at <link xlink:href="http://creativecommons.org/licenses/by/3.0/">
          http://creativecommons.org/licenses/by/3.0/</link>
      </para>
      <para>
        Full permission is granted to re-use this module and its associated documentation in any way 
        and for any purpose provided the DAISY copyright notice and link to the Creative Commons license 
        are retained. Modifications to the source are permitted so long as the author clearly indicates that 
        the module is a derivation of the original.
      </para>
      <para>
        The Z3986 Advisory Committee is responsible for the maintenance of this module. All questions,
        suggestions, bugs and other issues related to this module should be direct to the Committee. 
        Contact information is available from the DAISY website at 
        <link xlink:href="http://www.daisy.org">www.daisy.org</link>.
      </para>
    </legalnotice>
    <revhistory>
      <revision>
        <date>2011-01-03</date>
        <authorinitials>MGy</authorinitials>
        <revdescription>
          <para>Initial version</para>
        </revdescription>
      </revision>
    </revhistory>
  </info>
  
  <define name="z3986.foo">
    <element name="foo">      
      <annotation xmlns="http://docbook.org/ns/docbook" 
          annotates=".." condition="required"> <!-- component-level documentation is done using the docbook info element -->
                                               <!-- annotation/@annotates specifies the target using xpath -->
                                               <!-- annotation/@condition='required' means that component is not omittable on activation --> 
        <title xreflabel="aside">The {foo} element</title> <!-- annnotation/title and annotation/title/@xreflabel are required -->
        <!-- all db:paras use @role to describe their nature; @role used as NMTOKENS -->
        <!-- if @role contains the substring 'desc-' then it is part of the human-readable description of the element -->
        <para role="desc-main">The {foo} element represents foo.</para> <!-- desc-main (required) is the oneliner condensed description -->
        <para role="desc-sub">Other supplementary information</para> <!-- desc-sub (optional, repeatable) describes additional more detailed beahviors -->
        
        <!-- the additional tokens 'doc-only' and 'absdef-only' describes that a desc- para is intended only for end user doc or CM doc respectively -->
        <para role="desc-sub doc-only">Other supplementary information for end user documentation only</para>
        <para role="desc-sub absdef-only">Other supplementary information for CM definitions documentation only</para>        
        
        <!-- desc-main and desc-sub can be references to inheritable paras, and if so gives
          * the external document scope to inherit from (xlink:role)
          * the ID in the document scope (xlink:href) -->
        <para role="desc-sub" xlink:role="inherit-common" xlink:href="z3986.object"/>
        
        <!-- synopsis where @role contains 'def-' is for CM definition tables -->
        <synopsis role="def-context">{[[#z3986.Block.class]]}</synopsis>
        <synopsis role="def-content">{(z3986.Block.class)+ | (text | z3986.Text.class | z3986.Phrase.class)+}</synopsis>
        <synopsis role="def-attlist">{[[#z3986.Block.attrib]], [[#z3986.ref.attrib]]}</synopsis>
        <!-- synopsis elements can have @condition, which then contains an alterability restriction description, 'fixed' is reserved to mean total restriction (no alterability) -->
        <para role="def-specialization">This element is a specialization of the {[[#z3986.bar bar]]} element.</para>
      </annotation>
      
      <ref name="z3986.aside.attlist"/>
      <ref name="z3986.aside.content"/>
      <sch:rule context="default:aside">
        <sch:assert test="normalize-space(.) or *">The {foo} element must neither be empty nor contain only whitespace.</sch:assert>
      </sch:rule>
    </element>
  </define>

</grammar>
