tags/20111219/src/schema/mod/z3986-section.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar ns="http://www.daisy.org/ns/z3986/authoring/" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
    <info xmlns="http://docbook.org/ns/docbook">
        <title xreflabel="section">The section module</title>
        <annotation annotates="/">
            <para role="desc-main">This module defines the {[[#z3986.section]]} element that enables the representation of structural divisions within a document.</para>
            <simplelist role="def-dependencies">
                <member xlink:href="z3986-headings.rng"/>
                <member xlink:href="z3986-global-classes.rng"/>
            </simplelist>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link></para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at <link xlink:href="http://www.daisy.org">www.daisy.org</link></para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3986.section" xml:id="z3986.section">
            <element name="section">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="section">The {section} element</title>
                    <para role="desc-main">The {section} element represents a structural division of a document.</para>
                    <para role="desc-sub">A structural division is defined as any grouping of content that has significance to the hierarchy of the document, which can include major divisions like parts, sections, chapters, etc. or minor divisions like author biographies.</para>
                    <synopsis role="def-context">As a parent to, or following on the sibling axis of members of [[#z3986.Block.class]]</synopsis>
                    <synopsis role="def-content" condition="The content model must not allow more than one instance of the {[[#z3986.h]]} heading element.">{([[#z3986.h]]? &amp;amp; ([[#z3986.Block.class]])*), ([[#z3986.Section.class]])*}</synopsis>
                    <synopsis role="def-attlist">[[#z3986.Section.attrib]]</synopsis>
                </annotation>
                <ref name="z3986.section.attlist"/>
                <ref name="z3986.section.content"/>
            </element>
        </define>
        <define name="z3986.section.attlist" xml:id="z3986.section.attlist">
            <ref name="z3986.Section.attrib"/>
        </define>
        <define name="z3986.section.content" xml:id="z3986.section.content">
            <choice>
                <group>
                    <interleave>
                        <ref name="z3986.h"/>
                        <zeroOrMore>
                            <ref name="z3986.Global.extra.class"/>
                        </zeroOrMore>
                    </interleave>
                </group>
                <group>
                    <interleave>
                        <optional>
                            <ref name="z3986.h"/>
                        </optional>
                        <oneOrMore>
                            <ref name="z3986.section.Block.content.class"/>
                        </oneOrMore>
                        <zeroOrMore>
                            <ref name="z3986.Global.extra.class"/>
                        </zeroOrMore>
                    </interleave>
                    <interleave>
                        <zeroOrMore>
                            <ref name="z3986.section.Section.content.class"/>
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="z3986.Global.extra.class"/>
                        </zeroOrMore>
                    </interleave>
                </group>
                <group>
                    <interleave>
                        <optional>
                            <ref name="z3986.h"/>
                        </optional>
                        <zeroOrMore>
                            <ref name="z3986.Global.extra.class"/>
                        </zeroOrMore>
                    </interleave>
                    <interleave>
                        <oneOrMore>
                            <ref name="z3986.section.Section.content.class"/>
                        </oneOrMore>
                        <zeroOrMore>
                            <ref name="z3986.Global.extra.class"/>
                        </zeroOrMore>
                    </interleave>
                </group>
            </choice>
        </define>
        <define name="z3986.section.Section.content.class" xml:id="z3986.section.Section.content.class" combine="choice">
            <choice>
                <!-- dont add Global.extra ref here as we need to be able to ascertain that this class only contains section type elements -->
                <ref name="z3986.Section.class"/>
            </choice>
        </define>
        <define name="z3986.section.Block.content.class" xml:id="z3986.section.Block.content.class" combine="choice">
            <choice>
                <!-- dont add Global.extra ref here as we need to be able to ascertain that this class only contains block type elements -->
                <ref name="z3986.Block.class"/>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>section - default content model contribution</a:documentation>
        <define name="z3986.Section.core.class" combine="choice">
            <ref name="z3986.section"/>
        </define>
    </div>
</grammar>
