tags/20110304/src/schema/mod/z3986-annotation.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar ns="http://www.daisy.org/ns/z3986/authoring/" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:xlink="http://www.w3.org/1999/xlink">
    <info xmlns="http://docbook.org/ns/docbook">
        <title xreflabel="annotation">The annotation module</title>
        <annotation annotates="/">
            <para role="desc-main">This module defines the {[[#z3986.annotation]]} element for including annotations and comments about the document content.</para>
            <para role="desc-sub">Two variants of the {annotation} element are available: one for use in a [[#z3986.Block.class Block]] context and a second for use in a [[#z3986.Phrase.class Phrase]] context.</para>
            <simplelist role="def-dependencies">
                <member xlink:href="z3986-global-classes.rng"/>
                <member xlink:href="z3986-datatypes.rng"/>
                <member xlink:href="z3986-core-attrib.rng"/>
                <member xlink:href="z3986-i18n-attrib.rng"/>
                <member xlink:href="rdfa-attrib.rng"/>
                <member xlink:href="z3986-linking.rng"/>
            </simplelist>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link></para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at <link xlink:href="http://www.daisy.org">www.daisy.org</link></para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2011-03-04</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3986.annotation" xml:id="z3986.annotation">
            <element name="annotation">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="annotation (block)">The {annotation} element (Block)</title>
                    <para role="desc-main" xlink:role="inherit-common" xlink:href="z3986.annotation"/>
                    <para role="desc-sub" xlink:role="inherit-common" xlink:href="z3986.annotation"/>
                    <synopsis role="def-context">{[[#z3986.Block.class]]}</synopsis>
                    <synopsis role="def-content">{(z3986.Block.class)+ | (text | z3986.Text.class | z3986.Phrase.class)+}</synopsis>
                    <synopsis role="def-attlist" condition="The attribute model must allow the {[[#z3986.ref.attrib ref]]} attribute.">{[[#z3986.Block.attrib]], [[#z3986.ref.attrib]]}</synopsis>
                </annotation>
                <ref name="z3986.annotation.attlist"/>
                <ref name="z3986.annotation.content"/>
                <sch:rule context="default:annotation[not(@role='temporary')]">
                    <sch:assert test="key('annorefs', @xml:id) or id(current()/@ref)">The {annotation} element must be referenced by an {annoref} or reference another element in the document.</sch:assert>
                    <sch:assert test="normalize-space(.) or *">The {annotation} element must neither be empty nor contain only whitespace.</sch:assert>
                </sch:rule>
                <sch:rule context="default:annotation[@role='temporary']" role="warning">
                    <sch:report test=".">Annotations with a {role} value of {temporary} must be removed prior to document finalization.</sch:report>
                </sch:rule>
            </element>
        </define>
        <define name="z3986.annotation.phrase" xml:id="z3986.annotation.phrase">
            <element name="annotation">
                <annotation annotates=".." xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="annotation (phrase)">The {annotation} element (Phrase)</title>
                    <para role="desc-main" xlink:role="inherit-common" xlink:href="z3986.annotation"/>
                    <para role="desc-sub">The inline inclusion of annotation elements does not influence the rendering of the annotations or reflect their appearance in a print medium; inlining allows annotations to be included as close to their referenced element as is desired. It is equally valid for Block-layer annotations to reference inline elements.</para>
                    <para role="desc-sub" xlink:role="inherit-common" xlink:href="z3986.annotation"/>
                    <synopsis role="def-context">{[[#z3986.Phrase.class]]}</synopsis>
                    <synopsis role="def-content">{(text | [[#z3986.Text.class]] | [[#z3986.Phrase.class]])+}</synopsis>
                    <synopsis role="def-attlist" condition="The attribute model must allow the {[[#z3986.ref.attrib ref]]} attribute.">{[[#z3986.Phrase.attrib]], [[#z3986.ref.attrib]]}</synopsis>
                </annotation>
                <ref name="z3986.annotation.phrase.attlist"/>
                <ref name="z3986.annotation.phrase.content"/>
            </element>
        </define>
        <define name="z3986.annotation.attlist" xml:id="z3986.annotation.attlist">
            <!-- expand out Block.attrib in order to allow value suggestion injections on @role -->
            <ref name="z3986.global.core.attrib"/>
            <optional>
                <ref name="z3986.annotation.role.attrib"/>
            </optional>
            <ref name="z3986.Block.extern.attrib"/>
            <optional>
                <ref name="z3986.ref.attrib"/>
            </optional>
        </define>
        <define name="z3986.annotation.phrase.attlist" xml:id="z3986.annotation.phrase.attlist">
            <!-- expand out Phrase.attrib in order to allow value suggestion injections on @role -->
            <ref name="z3986.global.core.attrib"/>
            <optional>
                <ref name="z3986.annotation.role.attrib"/>
            </optional>
            <ref name="z3986.Phrase.extern.attrib"/>
            <ref name="z3986.ref.attrib"/>
        </define>
        <define name="z3986.annotation.content" xml:id="z3986.annotation.content">
            <ref name="z3986.Flow.choice.model"/>
        </define>
        <define name="z3986.annotation.phrase.content" xml:id="z3986.annotation.phrase.content">
            <ref name="z3986.Phrase.Text.mix.model"/>
        </define>
        <define name="z3986.annotation.role.attrib" xml:id="z3986.annotation.role.attrib">
            <attribute name="role">
                <list>
                    <oneOrMore>
                        <ref name="z3986.annotation.role.attrib.content.enum"/>
                    </oneOrMore>
                </list>
            </attribute>
        </define>
        <define name="z3986.annotation.role.attrib.content.enum" combine="choice">
            <ref name="QName.datatype"/>
        </define>
    </div>
    
    <div>
        <define name="z3986.annoref" xml:id="z3986.annoref">
            <element name="annoref">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="annoref">The {annoref} element</title>
                    <para role="desc-main">The {annoref} element represents a textual reference to an {[[#z3986.annotation annotation]]}.</para>
                    <para role="desc-sub doc-only">Although not as common as with footnotes and endnotes, the content or location in the document being annotated may be noted by a text referent (e.g., a superscripted symbol).</para>
                    <para role="desc-sub">By default, the text content of the {annoref} represents the link reference and is treated as document content. When superscripted numbers or symbols are instead used to identify the corresponding {annotation}, the {[[#z3986.annoref.value.attrib]]} attribute should be used. The {annoref} must be an empty element when attaching a {value} attribute; it it not permitted to include text content and a {value} attribute.</para>
                    <para role="desc-sub">The {[[#z3986.ref.attrib]]} attribute is used to establish the link between the {annoref} and its associated {annotation}.</para>
                    <synopsis role="def-context">{[[#z3986.Phrase.class]]}</synopsis>
                    <synopsis role="def-content">{(empty | (text | [[#z3986.Text.class]] | Phrase.core.class | Phrase.extern.class)+)}</synopsis>
                    <synopsis role="def-attlist" condition="The attribute model must allow the {[[#z3986.ref.attrib ref]]} attribute.">{[[#z3986.Phrase.attrib]], [[#z3986.ref.attrib]], [[#z3986.annoref.value.attrib]]?}</synopsis>
                    <para role="def-specialization">This element is a specialization of the {[[#z3986.ref]]} element.</para>
                </annotation>
                <ref name="z3986.annoref.attlist"/>
                <ref name="z3986.annoref.content"/>
                <sch:rule context="default:annoref">
                    <sch:report test="@value and (count(*|text()[normalize-space()]) &gt; 0)">The {value} attribute cannot be used on a non-empty {annoref}.</sch:report>
                    <sch:report test="not(@value) and (count(*|text()[normalize-space()]) = 0)">An empty {annoref} element must include a {value} attribute.</sch:report>
                    <sch:report role="warning" test="(count(node()[normalize-space()]) = 1) and child::default:sup">Superscripted referents should be included in a {value} attribute, not as text content.</sch:report>
                    <sch:assert test="every $ref in tokenize(current()/@ref, ' +') satisfies key('annotations', $ref)">The IDREF(s) in the {ref} attribute must resolve to {annotation}s.</sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3986.annoref.value.attrib" xml:id="z3986.annoref.value.attrib">
            <attribute name="value">
                <annotation annotates=".." condition="required" xmlns="http://docbook.org/ns/docbook">
                    <title xreflabel="value">The annoref {value} attribute</title>
                    <para role="desc-main">The annoref {value} attribute provides the number or symbol that represents the current {annotation} reference.</para>
                    <para role="desc-sub">The {value} attribute allows any text string as an identifier.</para>
                    <synopsis role="def-context">{[[#z3986.annoref]]}</synopsis>
                    <synopsis role="def-content">{text}</synopsis>
                </annotation>
                <ref name="NonEmptyString.datatype"/>
            </attribute>
        </define>
        <define name="z3986.annoref.attlist" xml:id="z3986.annoref.attlist">
            <ref name="z3986.Phrase.attrib"/>
            <ref name="z3986.ref.attrib"/>
            <optional>
                <ref name="z3986.annoref.value.attrib"/>
            </optional>
        </define>
        <define name="z3986.annoref.content" xml:id="z3986.annoref.content">
            <choice>
                <empty/>
                <ref name="z3986.Phrase.core.Text.mix.model"/>
            </choice>
        </define>
    </div>
    
    <div>
        <a:documentation>annotation - default content model contribution</a:documentation>
        <define name="z3986.Phrase.core.class" combine="choice">
            <ref name="z3986.annoref"/>
        </define>
        <define name="z3986.Block.core.class" combine="choice">
            <ref name="z3986.annotation"/>
        </define>
        <define name="z3986.Phrase.variant.class" combine="choice">
            <ref name="z3986.annotation.phrase"/>
        </define>
    </div>
</grammar>
