tags/20091122/src/schema/mod/xhtml-role-attrib.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>XHTML Role Attribute Module</x:h1>

  <div>
    <x:h2>The role attribute</x:h2>
    <x:div id="xhtml.role.attrib">
      The <x:code>role</x:code> attribute allows the author to 
      annotate elements with machine-extractable semantic information 
      about the nature or purpose of an element.
      <x:br/>
      The value of the role attribute is one or several 
      <x:a href="http://www.w3.org/TR/curie/">CURIEs.</x:a>
      <x:br/>
      Consult <x:a href="http://www.w3.org/TR/xhtml-role/">
      XHTML Role Attribute Module</x:a> for further information. 
    </x:div>
  
    <define name="xhtml.role.attrib">      
      <attribute name="role">
	    <ref name="xhtml.role.attrib.content"/>        
      </attribute>      
    </define>
    
    <define name="xhtml.role.attrib.content" combine="choice">
      <choice>
        <ref name="CURIEs.datatype"/>
      </choice>  
    </define>
    
  </div>

  <div>
    <x:h2>The role attribute - default content model contribution</x:h2>
      
    <define name="z3986.Text.attrib" combine="interleave">
      <optional>
        <ref name="xhtml.role.attrib"/>
      </optional>
    </define>
    
    <define name="z3986.Structural.attrib" combine="interleave">
      <optional>
        <ref name="xhtml.role.attrib"/>
      </optional>  
    </define>

    <define name="z3986.Flow.attrib" combine="interleave">
      <optional>
        <ref name="xhtml.role.attrib"/>
      </optional>
    </define>
    
  </div>
  
</grammar>