tags/20091122/src/schema/mod/z3986-term.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>Z39.86 term element module</x:h1>
    
  <div>
    <x:h2>The term element</x:h2>
    <x:div id="z3986.term">
      <x:p class="description">
        The <x:code>term</x:code> element represents a word or a compound word, characterized 
        by its particular use in a specific context. <x:br/>        
        The <x:code>for</x:code> attribute may be used to explicitly identify a definition of
        the term, by pointing to a <x:code>definition</x:code> element.        
      </x:p>
    </x:div>
    <!-- TODO SCH term@for must resolve to definition -->     
    <define name="z3986.term">
      <element name="term">
        <ref name="z3986.term.attlist"/>
        <ref name="z3986.term.content"/>  
      </element>    
    </define>

    <define name="z3986.term.attlist">
      <optional>
        <ref name="z3986.for.attrib"/>
      </optional>      
      <ref name="z3986.Text.attrib"/>
    </define>
    
    <define name="z3986.term.content">
      <ref name="z3986.Text.base.model" />
    </define>  
  </div>
   
  <div>
    <x:h2>The term element - default content model contribution</x:h2>
    
    <define name="z3986.Text.class" combine="choice">
      <ref name="z3986.term"/>    
    </define>
    
  </div>

</grammar>